[2014-05-28 02:16] sckott opened #1 "Add option to destroy all droplets to destroy fxn"
Though make sure they really want it, by adding mandatory yes answer to a prompt question

[2014-05-28 14:58] hadley opened #2 "Remove `do_` prefix from droplets functions"

[2014-05-28 15:03] karthik opened #3 "do_auth"
Auth issues
1. `do_auth`. Good idea to add a package prefix to avoid namespace conflict but this is a pretty generic function name. I understand do stands for Digital Ocean. You might have to get creative here.
2. The examples for `do_auth` are outdated.

[code]

The example for `?do_auth` says:

[code]

This doesn't actually work because it still requires an inline key/secret to be pasted.

[2014-05-28 15:04] hadley opened #4 "Improvements to `do_handle`"
This is untested, but:

[code]
- incorporates authentication
- adds common url (avoids duplication in individual functions)
- uses modern httr GET usage (i.e. everything in ...)
- always returns same type of object
- better to stop on bad status than warn

Should also parsing for DO error messages (i.e. instead of `stop_for_status()` write something custom).

[2014-05-28 15:04] karthik opened #5 "Return user friendly error messages"
instead of a list.  When I have no running droplets:

[code]

[2014-05-28 15:18] hadley opened #6 "Extract out common scp() and ssh() functions"
Would also be nice to give error message if those commands aren't available (e.g. `Sys.which("ssh") == "")`

[2014-05-28 15:30] karthik opened #7 "User friendly regions, sizes, images"
[code]

Would be nice not to have to do this each time. A thin wrapper would be helpful (at least to me).

[2014-05-28 23:16] #7 closed, assigned to nobody

[2014-05-29 00:12] sckott opened #8 "Implement remaining images methods"
A few missing here https://developers.digitalocean.com/images/

[2014-05-29 05:29] #4 closed, assigned to nobody

[2014-05-29 21:51] #3 closed, assigned to nobody

[2014-05-29 23:05] sckott opened #9 "Test suite"

[2014-05-29 23:37] #6 closed, assigned to nobody

[2014-05-29 23:40] sckott opened #10 "Have droplets take in and emit droplet objects - facilitate chaining"
Hadley said:

[code]

and

- [x] Take in and emit droplet objects. Perhaps make new droplet S3 class. Also, some fxns may not fit this model, like `droplet_new()` may not make sense to take in a droplet, since one needs to be created.
- [x] Make sure piping with `%>%` is possible  with droplet functions and objects

[2014-05-29 23:40] #2 closed, assigned to nobody

[2014-05-30 00:31] #5 closed, assigned to nobody

[2014-06-05 16:47] sckott opened #11 "Add function for events endpoint"

[2014-06-07 16:46] sckott opened #12 "Add fxns for the domains API"

[2014-06-11 16:02] sckott opened #13 "Work on Digital Ocean API V2"
Finalize interface for API v1 first, then start changes on dev branch...

[2014-06-15 14:44] #11 closed, assigned to nobody

[2014-06-15 15:54] #8 closed, assigned to nobody

[2014-06-15 15:54] #10 closed, assigned to sckott

[2014-06-15 16:17] #1 closed, assigned to nobody

[2014-06-15 17:06] #12 closed, assigned to nobody

[2014-06-15 22:50] #9 closed, assigned to sckott

[2014-07-02 02:20] sckott opened #14 "Add scripts to install openCPU on linux box"

[2014-08-19 20:16] sckott opened #15 "Update DO setup script with swamp memory fix"
need to do swapping

Some instructions
- http://stackoverflow.com/questions/17173972/how-do-you-add-swap-to-an-ec2-instance
- http://stackoverflow.com/questions/21837036/install-packages-r-on-ubuntu-12-04-downloads-but-does-not-install-packages
- https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-12-04 (for ubuntu 12.04, hopefully will work for 114.04)

[2014-08-24 04:55] #13 closed, assigned to nobody

[2014-08-24 14:45] sckott opened #17 "RStudio project to DO"
@hadley mentioned possibly sending current RStudio project to DO via this pkg, maybe using packrat to get dependencies

thoughts @kevinushey

[2014-08-25 19:56] sckott opened #18 "Docker install scripts"
Work on giving user ability to install R/rstudio etc. via docker

[2014-08-25 21:03] karthik opened #19 "Update documentation"
Two issues. There is little documentation on setting up a new application, which `do_auth()` requires to have a `client_id`.  Also while the client is quite informative (`digocean_client_id`) the key is a very generic variable name (`api_key`), which can lead to confusion with other packages.

Also instead of interactively requiring keys (when missing), how about authorizing over the web and writi

[2014-08-25 21:38] sckott opened #20 "OAuth web flow"
looks like they do support a web flow https://developers.digitalocean.com/oauth/ guess i just didn't see it before, see if it works

[2014-08-31 00:31] #20 closed, assigned to nobody

[2014-08-31 00:31] #19 closed, assigned to nobody

[2014-08-31 04:12] cboettig opened #22 "Can't authenticate using v2 branch?"
Hi @sckott

I just installed `v2` branch and try `do_auth()`, paste in my token. I try `droplets()` and now I get the following error and trace:

[code]

Something change recently? Thought this was working for me before...

Here's sessionInfo()

[code]

[2014-08-31 17:37] sckott opened #23 "Create new droplet doesn't accept ssh key id/fingerprint"
`droplets_new()` doesn't seem to work giving an ssh key id or fingerprint. gives

[code]

its an error coming from the server, not R.

[2014-09-01 04:04] cboettig opened #25 "Function for batch execution on a droplet?"
It would be cool if a user could send a slow or more-intensive function call off to be executed on the droplet and have the answer returned to the local R console. Such a function would:
- takes any set of R commands (e.g. in `{` like a `test_that` call),
- Loads the libraries and sends any variables in the current global environment over to an R script that runs on the droplet
- returns the resul

[2014-09-01 05:42] #22 closed, assigned to nobody

[2014-09-01 06:23] sckott opened #26 "ssh keys vs. passwords"
I think we should by default expect a user to use ssh keys.  That seems ideal to me, but may be hard for beginners to make an ssh key locally. But then again perhaps only more advanced folks will use this?  If using ssh keys, then just need to pass an ssh key id or fingerprint as `droplets_new(ssh_keys='<ssh key id or fingerprint>')`, whereas you can't just pass in a password to the `droplets_new(

[2014-09-01 06:28] sckott opened #27 "Function to kill all droplets in one line?"
Seems useful, e.g., you're at the end of the work day and don't want to pay any longer for the droplets you've started, so just a quick one liner to kill all might be nice. Right now, you can do

[code]

which only kills the first droplet. So you can repeat the above until you've killed all, but a new function, e.g., `droplets_kill()` could kill all droplets

[2014-09-01 06:39] sckott opened #28 "Add message about how to shut down a droplet when one is created"
Seems like a nice thing to do, maybe even give user the cost per hour and month in the message, and the function to kill the droplet, `droplets_delete()`

[2014-09-01 06:48] sckott opened #29 "ec2 api details"
http://stackoverflow.com/questions/13424660/r-httr-and-ec2-api-authentication-issues

http://docs.aws.amazon.com/AWSEC2/latest/APIReference/Welcome.html

segue package source https://code.google.com/p/segue/source/browse/#hg%2FR

[2014-09-01 19:16] sckott opened #30 "Add support for setting DO options for all new droplets"
Would be nice to by default set which ssh key to use so that the simple one liner `droplets_new()` can include the ssh key so that you don't have to pass in that param each time you spin up a droplet

[2014-09-01 19:29] #23 closed, assigned to nobody

[2014-09-01 19:29] #27 closed, assigned to nobody

[2014-09-02 06:32] #28 closed, assigned to nobody

[2014-09-02 06:33] #30 closed, assigned to nobody

[2014-09-23 06:34] #15 closed, assigned to nobody

[2014-09-24 14:42] hadley opened #32 "Import %>% instead of depending on magrittr"
This is the approach I use in dplyr, rvest etc:

[code]

[2014-09-24 14:48] hadley opened #33 "Only use droplets for functions that affect multiple droplets?"
e.g. `droplets_kill()`, but `droplet_shutdown()` ?

[2014-09-24 14:48] hadley opened #34 "droplets_new() should return id"
So that you can pass that object to other droplet methods.  (Or use S3 dispatch and add a droplet class)

[2014-09-24 14:52] hadley opened #35 "droplets_new() should return id"
So that you can pass that object to other droplet methods.  (Or use S3 dispatch and add a droplet class)

...

Oh I think the problem is that you've built the chaining around "droplets" object, whereas I think building it around a single droplet would make more sense

[2014-09-24 15:03] hadley opened #36 "Cleanly separate low level and high level API"
It feels like analogsea is currently fighting to be two things: both a low-level and a high-level wrapper.
I'd recommend making this distinction more clear - for example, I'd rewrite `droplet_power_cycle` as:

[code]
- I've used `do_` (for digital ocean) and `as_` (for analogsea) to distinguish the low-level and high-level apis. Obviously you'd want to think about that - I think `droplets_` is a b

[2014-09-24 15:04] #34 closed, assigned to nobody

[2014-09-24 15:40] hadley opened #37 "Use ROpenSci digital ocean referral link"
So hopefully you can get enough referrals to pay for your server usage

[2014-09-24 15:44] hadley opened #38 "Need wait function"
Should poll actions until all pending events complete. That would make it easier to write pipes like:

[code]

[2014-09-24 16:00] #32 closed, assigned to nobody

[2014-09-24 16:12] hadley opened #39 "Use PAT for offline auth"
This is a bit simpler & safer than the current system, but requires an additional step for the user - they need to generate a PAT at https://cloud.digitalocean.com/settings/tokens/new

[2014-09-24 16:22] sckott opened #40 "Update tests"
I'll update tests that have old code in them.

@hadley Do you think there is a better way to do auth for the tests?

[2014-09-24 16:42] #39 closed, assigned to nobody

[2014-09-24 17:12] #35 closed, assigned to nobody

[2014-09-24 22:58] #38 closed, assigned to nobody

[2014-09-24 23:01] hadley opened #41 "Remove droplets_kill?"
Since you can now do the same thing with `lapply(droplets(), droplet_delete)`.  What do you think @sckott?

[2014-09-24 23:07] #33 closed, assigned to nobody

[2014-09-24 23:07] #26 closed, assigned to nobody

[2014-09-24 23:17] #41 closed, assigned to nobody

[2014-09-25 00:34] #37 closed, assigned to nobody

[2014-09-25 00:45] sckott opened #42 "Details of a droplet"
@hadley maybe not needed, but perhaps the droplet object could be passed to another function to neatly show all metadata for the droplet, eg.,

[code]

Giving something like that listed in the readme here https://github.com/sckott/analogsea#get-droplets. Of course user can index to each element, but seems somewhat tedious.

[2014-09-27 13:01] sckott opened #43 "`images()` parsing of result"
@hadley I added parsing to `images()` output https://github.com/sckott/analogsea/commit/5229e048ea49269c8d3e621c11ce632542ad91d9

The output was a long list if you call the function as `images()`, which is not easy to quickly understand

Is there good reason to not parse to a data.frame?

[2014-09-29 12:39] #36 closed, assigned to nobody

[2014-09-29 12:39] #42 closed, assigned to nobody

[2014-09-29 13:15] hadley opened #44 "Is do_auth still used?"

[2014-09-29 13:44] #44 closed, assigned to nobody

[2014-09-29 14:02] #43 closed, assigned to nobody

[2014-09-29 14:23] hadley opened #45 "scp and ssh settings"
@sckott could you explain why you do:
-  In `scp_ssh`:

[code]
- In `scp()`: `StrictHostKeyChecking=no`

Those both seem a little risky to me

[2014-09-30 21:05] hadley opened #46 "Consider better security defaults"
Not sure what these should be. Some ideas:
- Create non-root user
- Add basic firewall
- Other stuff from here: https://www.digitalocean.com/community/tutorials/an-introduction-to-securing-your-linux-vps

[2014-09-30 21:48] #45 closed, assigned to nobody

[2014-09-30 22:11] #29 closed, assigned to nobody

[2014-10-01 13:56] hadley opened #47 "Default to docker"
This workflow looks pretty compelling: http://www.magesblog.com/2014/09/running-rstudio-via-docker-in-cloud.html

[2014-10-01 15:24] behrica opened #48 "Discussion on "docker image to cloud" tools"
Dear Scott,

I was just reading #47 from you, and I am working on similar idea and just wanted to discuss with you.

My requirements are:
- assuming we distribute reproducible research papers or code as docker images to have easy sharing
- I want to be able to run a docker image, by ONLY using my web browser.So taking a docker image (by just knowing the name of the image) and no need to install an

[2014-10-01 16:59] sckott opened #49 "`query` param is not passed on to httr verbs"
fixing now...in `do_GET` at least, will check others

[2014-10-01 17:05] #49 closed, assigned to nobody

[2014-10-01 19:28] #47 closed, assigned to nobody

[2014-10-01 22:03] behrica opened #50 "analogsea package misses dependency to httuv"
I started to try the docker related functionality of the lastest code and found some issues.
I report them one-by-one.

Install this package from githup and calling droplets() fails with error message
Error in authorizer(authorize_url, is_interactive) :
  httpuv package required to capture OAuth credentials.

After installing "httpuv" it worked.

I did this on a completely fresh Rstudio server ins

[2014-10-01 22:11] behrica opened #51 "Could not use oauth in RStudio server"
Calling droplets() for the first time in a fresh RStudio server
opens a browser Windows to connect to digitalocean to request autorisation.

This fails as the URL contains localhost: http://localhost:1410/?code=5259890fe5e0735b6009db423e84ee65b5a974cd2a3409f2d72a695269f2dc3b&state=OpaC2JA2vt

which does not work a remote RStudio server.
Replacing by hand "localhost" with the server IP did not work

[2014-10-01 22:23] behrica opened #52 "could not create rstudio docklet"
On my local R, the oauth works, but calling docklet_rstudio() fails with
Error: is.config(config) is not TRUE

Session history is:

[code]

[2014-10-02 07:50] #52 closed, assigned to nobody

[2014-10-02 12:41] #50 closed, assigned to nobody

[2014-10-02 12:43] #51 closed, assigned to nobody

[2014-10-02 14:48] #48 closed, assigned to nobody

[2014-10-02 14:56] behrica opened #53 "add support for user_data to function droplet_new"
The API allows to pass user_data which is useful for working with CoreOS images.
It is not enabled for all regions and only used by CoreOS so far.

[2014-10-02 15:15] #53 closed, assigned to nobody

[2014-10-02 20:08] behrica opened #55 "docklet_create does not work anymore"
My last change you pulled in, #54, caused it.
Now doing:
docklet_create(ssh_keys=c(42550),region="ams1")

gives

Error: This region does not support creating user data.

It seems that even "empty user data" makes the API call fail, if a region does not support it

[2014-10-02 22:30] #18 closed, assigned to nobody

[2014-10-03 12:06] #55 closed, assigned to sckott

[2014-10-03 21:04] behrica opened #57 "droplet_ssh cannot be called"
It is not exported, as far as I can see.
Is this on purpose ?

It is mentioned in the documentation

[2014-10-03 21:41] behrica opened #58 "key_create gives error "promise already under evaluation: ...""
I wanted to add my public key as described in the examples of the key_create method, but it always fails:

[code]

[2014-10-04 21:40] behrica opened #59 "allow to use CoreOS for docklets"
It would be nice, if the user could choose the digitalocean "CoreOs" docker image Instead of hardcoding the (ubuntu) based "docker" image.

The reason is mainly the speed of the image creation

For me it takes < 10 seconds to start a new Droplet with CoreOS,
while it takes around 60s for starting an Ubuntu image.

The site of CoreOS claims "40% less resources". I could not verify this.

-> Maybe e

[2014-10-06 12:27] behrica opened #60 "docklet_create should return docklet"
It did so in previous versions.
But them the return got lost.

[2014-10-06 14:38] #60 closed, assigned to nobody

[2014-10-06 14:39] #58 closed, assigned to nobody

[2014-10-06 14:40] #57 closed, assigned to nobody

[2014-10-06 14:42] #25 closed, assigned to nobody

[2014-10-06 20:28] behrica opened #63 "docklet_create does not use defaults from do_config"
like ssh_keys

They default to NULL and do not get read from do_config

[2014-10-06 21:37] cboettig opened #64 "Add commands to snapshot and save a container"
e.g.
- `docklet_commit()` and `docklet_push()` call to `docker commit` and `docker push` respectively, or download the image locally with a `docklet_save()` that would do something like:

[code]

and then scp it to the local host.

[2014-10-07 08:02] behrica opened #65 "Add commands to freeze and thaw a droplet"
The use case is described here:
http://blog.burkeware.com/2014/04/freezing-and-thawing-droplets-in-a-digitalocean/

It allows to use digitalocean droplets like  having a physical hardrive, which you can switch off (= freeze) and switch-on (=thawn or unfreeze) with a SINGLE command and it keeps the "state of the harddrive" in a snapshot.

I  have done something like this in Clojure and use it daily

[2014-10-07 14:25] #63 closed, assigned to nobody

[2014-10-08 10:33] behrica opened #66 "Code does not handle cleanly the fact of duplicated droplets names"
Doing this:

[code]

creates 2 droplets and deletes the "first" one in the list coming from droplets().

I believe it would be saver to fail here (and in other cases), if the droplet name or snapshot name is not unique.

So eventually this line:

[code]

should give an error, if x is more then once in the list.

Same for images.

[2014-10-08 15:30] behrica opened #67 "delete_image by image name does not work"
It does work for droplets.

The implementation of as.image() looks wrong:

[code]

[2014-10-08 15:58] #67 closed, assigned to nobody

[2014-10-09 13:21] behrica opened #68 "droplet_freeze does not wait for power_off"
I got error from time to time, as the code does not wait for the power-off to finish before doing the snapshot

[2014-10-09 20:05] #68 closed, assigned to nobody

[2014-10-09 20:06] #59 closed, assigned to nobody

[2014-10-15 04:51] sckott opened #71 "Add functions for metadata API"
https://developers.digitalocean.com/metadata/

[2014-10-15 19:29] sckott opened #72 "user report - ssh on Windows"
He did

[code]

[2014-10-17 13:52] hadley opened #73 "Consistently use either new or create"
I'd vote in favour of create - new has more of a flavour of creating a new object.

[2014-10-17 13:53] #66 closed, assigned to nobody

[2014-10-17 14:16] #65 closed, assigned to nobody

[2014-10-17 14:20] #73 closed, assigned to nobody

[2014-10-17 14:22] #71 closed, assigned to nobody

[2014-10-17 14:23] #40 closed, assigned to nobody

[2014-10-20 18:07] sckott opened #74 "Vignettes"
- Working with the DO API
- Docker/R and DO

[2014-10-20 20:10] #72 closed, assigned to nobody

[2014-10-21 14:32] hadley opened #75 "Should regions, sizes, images etc be prefixed with droplet?"

[2014-10-21 15:11] #75 closed, assigned to nobody

[2014-10-21 17:10] wch opened #76 "droplet_ssh() without a command freezes R session"
This is what it does:

[code]

And then it hangs. In RStudio, the R session needs to be terminated.

[2014-10-21 19:38] sckott opened #77 "Finish off packrat function"
Now in function `docklet_packrat()`, started in #17

[2014-10-21 20:34] #76 closed, assigned to nobody

[2014-10-22 01:10] wch opened #78 "non-root user should be able to run docker"
For example, with the `"ubuntu"` config, the `analogsea` user can't do anything with docker:

[code]

These commands need to be run first:

[code]

[2014-10-22 01:29] wch opened #79 "Should have some way to capture ssh output"
Sometimes you want to run an ssh command and capture the output. (I want to use it to run `docker ps` and check whether a docker container is still running.) It would be useful if `droplet_ssh` could return the text.

This is how I'm checking the running containers right now:

[code]

Note that I'm not using the `docklet_*` functions because they seem to be behind the `droplet_*` functions in func

[2014-10-22 01:53] wch opened #80 "Ideas for revamped docklet API"
Right now, the `docklet_*` functions are basically wrappers for `droplet_ssh` that put `"docker"` as the first argument in the command. I suggest changing it so that a "docklet" (or some other name) is an object which refers to a specific docker container running on a droplet. You might have some functions like:
- `docklet_run(droplet, image, name)`: returns a docklet (not droplet) object.
- `dock

[2014-10-22 13:19] hadley opened #81 "Figure out how to use ssh shipped with Rstudio"
For windows - found in `RStudio\bin\msys_ssh`

[2014-10-22 18:28] sckott opened #82 "image_transfer() fails"
Is it just me, or does `image_transfer()` fail for anyone else?

using a private image:

[code]

Gives a 505 error. But then the image was actually transferred looking at my DO dashboard in browser.

[2014-10-22 19:16] #78 closed, assigned to nobody

[2014-10-22 19:37] sckott opened #83 "Data returned on droplet_create may have changed"
`droplet_create()` no longer works in some cases.

Looks like the data returned has changed.

I'm adding a call internally within `droplet_create()` to `droplet()` with the ID returned, which seems to work now

[2014-10-22 19:39] sckott opened #84 "Perhaps a new function to resize a droplet"
I don't get resizing. It seems that the only way to actually do this is to power off, create image, then create a new droplet from that image of a bigger size. The API docs https://developers.digitalocean.com/v2/#resize-a-droplet make it look like you can resize an existing droplet just by powering off, resizing then powering back on, but this always errors, e.g.,

and

maybe I'm missing something

[2014-10-22 20:27] sckott opened #85 "Domain record question"
@hadley Curious why this is the way it is, Thoughts?

[code]

Why does the `lapply()` call assign the domain object to each record, then return the domain? Shouldn't we return the domain record (aka `y`)?

As it is now gives

[code]

But with the `lapply()` call returning `y` we get

[code]

[2014-10-22 20:33] #85 closed, assigned to nobody

[2014-10-22 21:33] wch opened #86 "Default user should be recorded in droplet object"
When a droplet is created with `cloud_config='ubuntu'`, you can only log in as user analogsea, not root.

I think the droplet object should record this user and use it by default.

Edit: in order for `droplets()` or `droplet()` to return this information, we'll need to retrieve the `user-data` metadata: https://www.digitalocean.com/community/tutorials/an-introduction-to-droplet-metadata

[2014-10-23 02:02] #86 closed, assigned to nobody

[2014-10-23 20:37] wch opened #87 "droplet_download and upload should use ssh and tar"
On my slow cafe connection, downloading 130 files totaling 878KB via `scp` takes 69 seconds. Using and sending a .tgz file over a pipe takes 3.7 seconds.

[code]

[code]

I believe `scp` is so slow because it transfers each file separately. For `droplet_download` and `droplet_upload`, when doing multiple files, it will be much more efficient to use ssh and tar.

[2014-10-28 12:56] hadley opened #88 "Use RStudio ssh & scp on windows"
From JJ: "I've added scp.exe to the Windows MSYS SSH bundle (it's in the latest
daily build, v0.98.13). You can access the path to the directory
containing ssh.exe, scp.exe, etc. via the environment variable
RSTUDIO_MSYS_SSH"

[2014-10-28 18:38] #83 closed, assigned to sckott

[2014-11-15 17:29] sckott opened #89 "Images now has a filtering parameter"
https://developers.digitalocean.com/changelog/api-v2/add-image-filtering/
https://developers.digitalocean.com/v2/#list-all-distribution-images
https://developers.digitalocean.com/v2/#list-all-application-images

[2014-11-15 17:30] sckott opened #90 "user account info endpoint"
https://developers.digitalocean.com/v2/#get-user-information

[2014-11-17 13:26] hadley opened #91 "Create default names by combining adjective + noun"
e.g. from https://github.com/dariusk/corpora/tree/master/data/words

[2014-11-27 19:08] cboettig opened #92 "Cannot create droplet, get error regarding droplet size"
I run `docklet_create` or `droplet_create` and I get:

[code]

seems to happen regardless of the size I specify.  Here's sessionInfo:

[code]

[2014-11-27 20:31] cboettig opened #93 "cannot launch rstudio"
I do:

[code]

I get:

[code]

sessionInfo():

[code]

[2014-11-27 23:58] #92 closed, assigned to sckott

[2014-12-03 16:42] #89 closed, assigned to nobody

[2014-12-03 16:42] #90 closed, assigned to nobody

[2014-12-03 17:11] #91 closed, assigned to nobody

[2014-12-04 19:05] hadley opened #94 "Easy way to create or re-use image"
e.g.

[code]

[2014-12-04 21:50] #93 closed, assigned to sckott

[2014-12-10 07:35] sckott opened #95 "Droplet upgrades"
https://developers.digitalocean.com/v2/#list-droplet-upgrades

and

https://developers.digitalocean.com/v2/#upgrade-a-droplet

[2014-12-10 16:12] sckott opened #96 "Retrieve existing action i think is missing"
https://developers.digitalocean.com/v2/#retrieve-an-existing-action

[2014-12-10 16:45] #95 closed, assigned to sckott

[2014-12-10 16:45] #96 closed, assigned to nobody

[2014-12-10 17:12] #84 closed, assigned to sckott

[2014-12-10 18:23] #87 closed, assigned to nobody

[2014-12-10 18:39] #94 closed, assigned to nobody

[2014-12-10 18:52] #82 closed, assigned to nobody

[2015-01-08 00:58] sckott commented on #79
@wch is this handled yet in `harbor` ?

[2015-01-08 01:05] sckott commented on #17
Closing this - is a very general issue with a variety of discussions. do open more specific issues if needed

[2015-01-08 01:05] #17 closed

[2015-01-08 01:06] wch commented on #79
Yup. It's basically the same method as above - it simply redirects output to a file in `/tmp` on the remote machine, and then downloads that file to the local one.

https://github.com/wch/harbor/blob/623ca356950f7db238d637ab96b98b16cff48d22/R/droplet.R#L12-L15

Feel free to close this issue.

[2015-01-08 01:11] sckott commented on #79
great, closing

[2015-01-08 01:11] #79 closed

[2015-01-08 01:45] sckott commented on #81
Do you think it's best to use RStudio `ssh`/`scp` when on linux and mac too? Or just windows?

[2015-01-22 22:23] sckott opened #97 "Check to see if change in API affects this pkg"
https://developers.digitalocean.com/documentation/changelog/api-v2/new-droplet-create-validations/

[2015-02-10 21:33] sckott opened #98 "neighbors endpoints"
* List neighbors for a droplet https://developers.digitalocean.com/#list-neighbors-for-a-droplet
* List all neighbor droplets https://developers.digitalocean.com/#list-all-droplet-neighbors

[2015-02-11 01:26] #98 closed

[2015-04-10 23:32] sckott opened #99 "See if any changes needed on image convert parameter"
https://developers.digitalocean.com/documentation/changelog/api-v2/add-image-convert/

[2015-05-02 15:54] flaviobarros opened #100 "docklet_shinyapp()"
Recently i wrote a post about dockerizing a shiny app (http://www.flaviobarros.net/2015/04/30/dockerizing-a-shiny-app/). I saw that there is already a function to deploy a RStudio Server: docklet_restudio()

Is there some plan for a dockelet_shinyserver()?

Wouldn't be difficult to create something like docklet_shinyapp(). I'm thinking about a way to create a shiny app, and with an command create

[2015-05-06 06:37] sckott commented on #100
hi @flaviobarros - doing a `dockelet_shinyserver()` should be easy - can start working on that soon.

[2015-05-28 23:25] jbryer opened #101 "Allow for multiple users"
It would be nice to have multiple RStudio users on the same droplet. I tried working around this with the following commands:

d %>% droplet_ssh("adduser --disabled-password --gecos '' testuser")
d %>% droplet_ssh('echo "testuser:testpass" | sudo chpasswd')

Even though I don't get errors with these commands, the users are not created (i.e. I cannot login to RStudio with testuser/testpass).

On th

[2015-05-29 14:49] sckott commented on #101
@jbryer how did you get rstudio installed?  manually on the command line?  using `docklet_rstudio()` ?

[2015-05-29 14:51] sckott commented on #101
We recommend using ssh keys instead of passwords. If you use a password after setting up droplet, you should get the password in an email. Does that not happen?

[2015-05-29 15:42] jbryer commented on #101
Here's the full R code I am using:

d <- docklet_create(name = "EPSY530Summer2015",
					size = getOption("do_size", "512mb"))
d %>% docklet_pull("rocker/hadleyverse")
d %>%
	droplet_ssh("adduser --disabled-password --gecos '' testuser", verbose=TRUE) %>%
	droplet_ssh('echo "testuser:testpass" | sudo chpasswd', verbose=TRUE)
d %>% docklet_run("-d",
				  " -p 8787:8787",
				  " -e USER=rstudio",

[2015-05-29 16:47] sckott commented on #101
thanks @jbryer I'll have a look

[2015-05-31 22:39] jbryer commented on #101
Just another data point. I manually installed R and RStudio using the instructions here: http://applyr.blogspot.com/2015/05/teaching-r-course-use-analogsea-to-run.html?showComment=1432855375259#c8441958524220453981

The `droplets()` function returns my droplet and I can create users using the `droplet_ssh` calls I included above and it works. We'll see how this works tomorrow for my class (just 13

[2015-06-01 22:35] sckott commented on #101
hey @cboettig - I imagine you've solved this issue before. How can we get a bunch of users added to the Rstudio server being created via docker?

[2015-06-01 22:41] sckott commented on #101
@cboettig looks like this is helpful https://github.com/rocker-org/rocker/wiki/Using-the-RStudio-image#multiple-users - Although from analogsea, I'd like to do this non-interactively, and allow users to do this from this pkg, perhaps when they setup their droplet.

We have `docklet_rstudio()`. Could add function `docklet_rstudio_addusers()` or similar

[2015-06-01 22:49] cboettig commented on #101
yup -- there's a function we added on the rstudio-based images called `add-students` that adds up to 100 student accounts with user name = user password of the form "user1", "user2" etc.  The script has to be run as root, e.g. at runtime:

[code]

should do it.  Of course these aren't the most secure name and password combinations.

For a smaller group of students for longer term use, you might wa

[2015-06-01 22:53] cboettig commented on #101
Alternatively, we could spin up an nginx proxy, serve over (self-signed if no professional cert is available) https.  This means you could just use the `add-students` script because the real security layer would be before then in signing into the https, and the script just lets students have separate workspaces and all sign in at the same time.

My understanding is that https isn't critical since

[2015-06-01 23:40] sckott commented on #101
nice, thanks @cboettig !  Playing with these now

[2015-06-01 23:53] sckott commented on #101
hmmm, i can spin up rstudio like

`docker run -d -p 8787:8787 -e USER=rstudio -e PASSWORD=rstudio  rocker/rstudio`

but this is erroring with `exec format error`

`docker run -d -p 8787:8787 -e USER=rstudio -e PASSWORD=rstudio rocker/rstudio add-students && supervisord`

[2015-06-02 00:00] cboettig commented on #101
Whoops, my bad.  Have to pass as a command string to bash.  I think this
should work

docker run -d -p 8787:8787 -e USER=rstudio -e PASSWORD=rstudio
rocker/rstudio bash -c "add-students && supervisord"

On Mon, Jun 1, 2015 at 4:53 PM Scott Chamberlain <notifications@github.com>
wrote:

[2015-06-02 00:03] sckott commented on #101
@cboettig sweet! that worked,

now to make it useable for others...

[2015-06-02 00:15] sckott commented on #101
@jbryer How did the class go today, if it was today?

[2015-06-02 00:48] sckott commented on #101
@jbryer reinstall, then try this

[code]

[2015-06-02 21:03] jbryer commented on #101
@sckott The class went well, thanks for asking. I had 13 students on a 1gb working on the first lab from the OpenIntro book and didn't have issues until the end of class. I was able to quickly restart with a 2gb instance and seems are working well for now. It is nice to change the server as needed.

Back to this issue, adding users through analogsea still doesn't work. Here is the code and error I

[2015-06-02 21:08] cboettig commented on #101
Hmm, looks like analogsea isn't shutting down previous docker instances.  A
previous docker instance probably has port 8787 already assigned to it.
you could of course just use a different port, but it would be better to
close down the previous instance first.

On Tue, Jun 2, 2015 at 2:03 PM Jason Bryer <notifications@github.com> wrote:

[2015-06-09 16:58] sckott commented on #101
@jbryer Thanks for the feedback! I think @cboettig is right on that point. I'll see if I can help prevent that from happening.

[2015-06-09 19:20] sckott commented on #101
hey @jbryer if you get a chance give the most recent version a try.

`devtools::install_github("sckott/analogsea")`

You can add users when installing rstudio

[code]

Or, add users after installing rstudio, requires shutting down rstudio container, and starting a new one

[code]

[2015-06-30 07:04] jbryer commented on #101
@sckott Do you happen to be at useR? This still doesn't work for me and would love to meetup (buy a beer), and take a look.

[2015-06-30 15:43] sckott commented on #101
@jbryer Hi! I decided not to go this year - wish I could meet up with you. when you get a chance, let me know what errors you run into, or is it the same as above https://github.com/sckott/analogsea/issues/101#issuecomment-108098267

[2015-07-03 14:53] sckott commented on #101
@jbryer id be happy to do a call with you if you want to see if we can get this sorted

[2015-08-07 13:38] jbryer opened #102 "Error: The provided ssh_keys value must be an array."
I have installed the latest version from Github and get this error when creating a new droplet:

Using default ssh keys: MacBook Air SSH
Error: The provided ssh_keys value must be an array.

[2015-08-07 19:05] sckott commented on #102
hi @jbryer - Sorry about that error. Looks like they've changed something on their end. I'll get a fix up

[2015-08-07 19:24] sckott commented on #102
yeah, they require `ssh_keys` to be a json array now https://developers.digitalocean.com/documentation/v2/#create-a-new-droplet - fixed, pushing soon

[2015-08-07 19:27] #102 closed

[2015-08-07 19:27] sckott commented on #102
@jbryer reinstall, let me know if that doesn't work for you

[2015-08-07 20:16] sckott commented on #97
AFAI can tell, this doesn't affect us

[2015-08-07 20:16] #97 closed

[2015-08-07 20:20] sckott commented on #99
need to add a new fxn for this

[2015-08-07 20:46] #99 closed

[2015-08-07 20:49] sckott commented on #64
@cboettig we haven't addressed this yet have we? don't see any commits mentioning this issue

[2015-08-07 20:53] sckott opened #103 "Add status and status_message to account() print method"
https://developers.digitalocean.com/documentation/changelog/api-v2/add-status-to-account/

[2015-08-07 20:56] #103 closed

[2015-08-07 22:48] jbryer commented on #102
That did it. Thanks @sckott!

[2015-08-07 22:50] sckott commented on #102
great, :rocket:

[2015-08-10 17:59] cboettig commented on #64
Right, don't think so.

[2015-08-10 18:04] sckott commented on #64
@cboettig

does that mean your machine?

[2015-08-10 18:09] cboettig commented on #64
Right

[2015-08-10 21:43] sckott opened #104 "Test suite against live droplet"
Would be painfully slow to run tests against a real droplet, but I'll play with this for separate testing via `test_dir()` - to allow anyone with a DO acct to run them

[2015-08-12 04:26] englianhu opened #105 "Installation error"
Downloading github repo sckott/analogsea@master
Installing analogsea
Error in base::basename(fnames) : a character vector argument expected

Error in library("analogsea") : there is no package called 慳nalogsea?

[2015-08-12 04:45] sckott commented on #105
Can you give your `sessionInfo()` or `devtools::session_info()`

[2015-08-12 05:48] englianhu commented on #105
R version 3.2.2 RC (2015-08-08 r68921)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United
States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C

[5] LC_TIME=English_United States.1252

attached base packages:
[1] datasets  grid      grDevices graphics  parallel  stats     util

[2015-08-12 05:57] sckott commented on #105
did you try restarting your session?  seems that you've reported this same thing before on another pkg https://github.com/hadley/devtools/issues/801 hadley is probably right here https://github.com/hadley/devtools/issues/801#issuecomment-113485829

[2015-10-02 00:29] #105 closed

[2015-10-02 05:43] englianhu commented on #105
Its working fine now.
[code]

[2015-10-02 05:54] sckott commented on #105
great!

[2015-10-02 05:54] sckott opened #106 "Make it easier to install specific R version"

[2015-10-08 19:50] simecek opened #108 "Hitting API rate when creating docklets parallely"
I use analogsea to start DO machines for course participants (https://github.com/churchill-lab/sysgen2015). To send the same set of instructions to >30 dockets, I am using doParallel/foreach loop, for example this pull "churchill/doqtl" image to all docklets

[code]

The problem is when I tried parallelization of `docklet_create`:

[code]

For some reason, the package sent crazy amount of API requ

[2015-10-08 20:14] sckott commented on #108
Thanks for the report @simecek - I'll have a look

[2015-10-08 20:26] sckott opened #109 "print.droplet fails when droplet not up yet"
problem in `droplet_ip()` - for this print fxn I thin makes sense to just print nothing there, or a message that droplet not up yet

[2015-10-08 21:06] #109 closed

[2015-10-08 21:15] sckott commented on #108
hi again, okay, i made a few small changes, so reinstall from github `devtools::install_github("sckott/analogsea")`

The `wait` parameter is the key here. it is by default `TRUE` - which means we ping the DO API every 1 second to check if the droplet is up or not yet. Once it's up we exit the function call and return the droplet object.

You can set this to `FALSE` and not do any of those API ping

[2015-10-26 23:20] simecek commented on #108
Hi sckott,

I reinstalled analogsea from Github and set `do.wait_time` to 30. I got API error later but hit it anyway.  I am suspicious that `Sys.sleep` in `action_wait` somehow does not work (=runs faster) when processed in parallel (as below)

[code]
However, when I set `wait` to FALSE everything works fine and as you suggested I used `droplet` function to get IP later.

Thank you very much for

[2015-10-26 23:21] #108 closed

[2015-10-26 23:32] sckott commented on #108
@simecek Glad it's resolved.

Do you know if when you tried that your rate limit was at its max?   I'll test this out and see if the wait time is ignored.

[2015-10-27 14:36] simecek commented on #108
I re-run the code and found the bug. `do.wait_time` needs to be set inside the foreach loop. With the modified version below, everything works fine and I do not get API error. Thank you once more.

[code]

[2015-10-27 15:11] sckott commented on #108
Great, glad it worked. I'll make a note in the docs about this so other users don't have to run into the same problem.

[2015-12-19 22:03] sckott opened #110 "API supports enabling backups"
https://developers.digitalocean.com/documentation/changelog/api-v2/add-enable-backups/

[2015-12-19 22:04] sckott opened #111 "Add floating_ip_limit to Account Object"
https://developers.digitalocean.com/documentation/changelog/api-v2/add-floating-ips-limit/

not sure if anything needs to be changed on our side, but check

[2015-12-19 22:04] sckott opened #112 "Add multiple Droplet create"
https://developers.digitalocean.com/documentation/changelog/api-v2/add-multiple-droplet-create/

To create multiple droplets, send a POST request to `/v2/droplets`

[2015-12-31 17:38] #112 closed

[2015-12-31 17:42] #111 closed

[2015-12-31 18:02] #110 closed

[2015-12-31 22:05] #100 closed

[2016-01-04 10:50] fmichonneau opened #113 "Issue with networking?"
I'm using the package to spin a shiny app following the instructions here: https://gist.github.com/sckott/ea46be9a1c7cee0eef74

When creating the docklet, it seems that the IP address wasn't assigned to my droplet quite yet, and I ended up with empty lists for the `networkings` slot. Therefore, I couldn't run `d %>% docklet_shinyapp(path)` as it resulted in an error message (`No network interface

[2016-01-04 16:13] sckott commented on #113
Thanks for trying this. Sorry about that. I think for some reason it's recently started returning a response object from the API (suggesting the droplet is up), but it's apparently not quite up yet. This used to not happen. I may need to put in an additional wait time

To refresh the droplet object, e.g, your `d`, you can just run `droplets()` and select the one you want. If it says `active` then

[2016-01-04 19:44] sckott commented on #113
Hmm, I think this is just a problem when creating droplets with Docker installed, i'll keep diggin

[2016-01-15 23:08] sckott commented on #113
Sorry for the delay, getting back to this

[2016-01-16 18:07] fmichonneau commented on #113
No worries. It's easy to get around it.
On Jan 15, 2016 6:08 PM, "Scott Chamberlain" <notifications@github.com>
wrote:

[2016-01-20 16:20] studerus opened #114 "Cannot create rstudio docklet on windows"
I'm working on windows 10 with the latest version of R and analogsea from github. Creating and manipulating droplets works fine, but I cannot create an RStudio or shiny server. Running the following command:

[code]

results in the following error message:

[code]

Is this a bug or am I doing something wrong?

[2016-01-20 16:55] sckott commented on #114
Do you have SSH keys set up already on your machine?  And you can ssh into a DO box?

[2016-01-20 21:22] studerus commented on #114
How can I check whether I have SSH keys correctly set up? It appears that I have SSH keys because typing `keys()` shows two different keys.

It would be very helpful if either the vignette or the help file  `docklet_rstudio()` would explain how to use SSH keys for creating an RStudio server.

[2016-01-20 21:31] sckott commented on #114
if you can ssh into your DigitalOcean machine from the command line outside of R, then I think everything should work fine in `analogsea` in R - can you do that?

Will definitely add more to the docs on using ssh keys

[2016-01-20 21:34] sckott commented on #114
Note there's a slight problem too when creating docklet's where they aren't actually all the way up even when we think they are https://github.com/sckott/analogsea/issues/113 - working on fixing that - solution being just creating the droplet with `docklet_create()` - then check again with `droplets()` until is says status active, then you can go ahead and do things with it

to be sure, you did cr

[2016-01-20 21:34] studerus commented on #114
Sorry, I'm not familiar with using ssh on the command line. Do you have an example command that I could adapt for my needs?

[2016-01-20 21:37] sckott commented on #114
e.g., `ssh -i .ssh/id_rsa2 root@<IP Address>`

* IP address: e.g., `46.101.209.177` the one you had above in your error message
* `root` is the user name - so if you chose a different user name, use that, but most likely it is `root`
* the `-i` is a flag to pass in your ssh key and the `.ssh/id_rsa2` is the path to my ssh key

[2016-01-20 21:40] sckott opened #115 "Add info to man pages and maybe new vignette on using ssh keys"

[2016-01-20 21:53] sckott commented on #114
Note: I don't know much about where windows ssh keys are stored

[2016-01-20 22:02] studerus commented on #114
Using ssh on the command line seems to have worked, because it says "Welcome to Ubuntu 14.04 ..." at the end. However, it also said before "Could not create directory './home/erich/.ssh'". The authenticity of host ... could not be established. It also said "Failed to add the host to the list of known hosts (...)"

[2016-01-20 22:03] studerus commented on #114
I created the ssh key pair with RStudio under Global Options - Git/SVN. It's stored in C:/Users/erich/.ssh/id_rsa by default

[2016-01-20 22:09] studerus commented on #114
I tried that. Unfortunately, I did not help.

[2016-01-20 22:12] sckott commented on #114
Thanks for the info. Do you have your ssh keys stored in options?  what does `getOption("do_ssh_keys", NULL) ` give you?

[2016-01-21 13:02] studerus commented on #114
No, I didn't have stored it in options, but I tried it out now. Unfortunately, it still didn't work.

[2016-01-22 17:43] sckott commented on #114
Okay, i'll have to test on a windows VM, and get back to you ... :clock1030:

[2016-01-22 18:50] sckott opened #116 "Support ipv6 better"
If e.g, a user requests ipv6 we still are internally looking for the ipv4 IP address, and return that to the user. Maybe just watch if user requests ipv6, then return that IP when it's `TRUE`

[2016-02-04 10:17] englianhu commented on #105
sckott/analogseaさん

LinkedInでつながってください。よろしくお願いします。

®γσ

®γσさんのリクエストを承認する: https://www.linkedin.com/e/v2?e=0-ik8409n7-xo&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=-oBwZx1a&invitationId=6100955073226035201

本メールはLinkedInのつながりリクエストをご案内するものです。LinkedInは、あなたのメールアドレスを知り合いの紹介機能に使用します。メール購読を停止するには次のリンクをクリックしてください: https://www.linkedin.com/e/v2?e=0-ik8409n7-xo&t=lun&midToken=AQFmrFVhGE

[2016-02-10 09:09] englianhu commented on #105
®γσ Eng would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-8isb9g-ikge3rqk-e8&a=preRegInvite&ek=first_guest_reminder_01&li=14&m=hero&ts=accept_text&sharedKey=-oBwZx1a&invitationID=6100955073226035201

View ®γσ Eng&#39;s profile: https://www.linkedin.com/e/v2?e=-8isb9g-ikge3rqk-e8&a=preRegInvite&ek=first_guest_reminder_01&li=3&m=hero&ts=profi

[2016-02-23 02:53] trestletech commented on #114
Pro-top for others who might have Googled their way here: remember that if you're using RStudio Server, you are technically trying to SSH from your server, not from your desktop. So make sure your SSH keys are setup to work when using the remote server, not your desktop.

Wasted a few more minutes on that than I'd like to confess.

[2016-02-23 02:59] sckott commented on #114
Thanks, but isn't the problem here that ssh keys on desktop and server are not configured correctly (which I think doesn't have anything to do with rstudio server)?

[2016-02-23 03:03] trestletech commented on #114
Sorry, my point was that I had the keys working swimmingly on my desktop and usually use RStudio Desktop. So I was puzzled when I could SSH in from the command line but analogsea could never SSH in to the droplet.

Of course, once I get the SSH keys setup on the server and confirmed that I could SSH into the droplet from the server, then the analogsea commands running in RStudio Server started wor

[2016-03-06 17:03] sckott commented on #113
After some digging, I think it results from port 22 not being quite open yet when the first ssh command is executed, looks like `nmap` is a nice tool to check on the CLI e.g `nmap -A <ip address> -p 22` but not sure how portable that is, checking to see if there's a portable R tool

[2016-03-08 17:14] sckott opened #117 "tag usage"
blog post: https://www.digitalocean.com/community/tutorials/how-to-use-droplet-tagging-with-the-digitalocean-api
docs: preview docs https://developers.digitalocean.com/documentation/v2/tagging-preview/

[2016-03-08 22:24] sckott commented on #113
Okay, so we have a new internal fxn from @hrbrmstr for checking whether port 22 is open or not, and if not, we stop with informative error message.

[code]

We could build a toggle-able wait period, but users can easily do that themselves via e.g., `Sys.sleep()`, and I don't think this is always a problem, perhaps especially when you're spinning up a machine and docker

any thoughts @fmichonneau @

[2016-03-08 22:55] brudis-r7 commented on #113
:+1: the idea of putting the onus on the user. If they're using this, they clearly know what they're doing/what they want and make them do some work :-)

[2016-03-08 23:09] sckott commented on #113
cool, will go with the this then

[2016-03-09 00:03] sckott commented on #113
@fmichonneau let me know if this sorts you out, if not we'll re-open

[2016-03-09 00:03] #113 closed

[2016-03-09 01:02] sckott commented on #116
no idea about best practice with ipv6, should we use the v6 address for sshing- or just stick with the v4 address even when v6 enabled

looks like sshing with v6 need to put the ip in brackets like `ssh@[<v6 ip address>]`

[2016-03-09 22:28] fmichonneau commented on #113
Thanks Scott!

On Tue, Mar 8, 2016 at 7:03 PM, Scott Chamberlain <notifications@github.com>
wrote:

[2016-03-11 03:38] #117 closed

[2016-06-03 13:49] sckott opened #118 "travis builds failing"
https://travis-ci.org/sckott/analogsea/builds/115410278

[2016-08-23 11:25] tanjilahsan commented on #102
Hi,
What if I have a single SSH key? I am dying to create droplet with a single SSH Key, alas I can't! Always I get this error
`{"id":"unprocessable_entity","message":"The provided ssh_keys value must be an array."}`
I tried with the following values:
`'name' => 'TestDropletfromAPI2',
'region' => 'sfo1',
'size' => '512mb',
 'image' => '19083981',
'ssh_keys' => [1478548],
'backups' => '1',
'ipv6' =

[2016-08-23 17:19] sckott commented on #102
@tanjilahsan are you using the `analogsea` pkg?  If so, what call did you make?  or are you making a curl request on the command line

[2016-08-24 21:11] tanjilahsan commented on #102
@sckott thanks for your response! No, I'm using `Guzzlehttp` with `laravel 5`. My issue has been sorted out. It was my mistake of not using `content-type/json` and I was sending a php array of `form-params` instead of JSON array.
I just json encoded the form params array and added a `content-type/json` to the request header.

[2016-08-24 21:23] sckott commented on #102
sounds good

[2016-08-25 15:58] sckott opened #119 "sizes() fxn is failing on parsing"

[2016-08-25 16:13] #118 closed

[2016-08-30 19:36] sckott opened #120 "docklets_create() fxn for many docklets at once?"
analogous to `droplets_create()` for many droplets at once

[2016-10-06 19:34] sckott opened #121 "volume snapshots and unified snapshots endpt"
https://developers.digitalocean.com/documentation/changelog/api-v2/add-volume-snapshots/

[2016-10-08 16:45] #120 closed

[2016-10-10 20:26] #121 closed

[2016-11-11 16:49] sckott opened #122 "pass tags as an attribute when creating one or more new Droplets"
https://developers.digitalocean.com/documentation/changelog/api-v2/tagging-in-droplet-create/

[2016-11-11 16:50] sckott commented on #101
@jbryer happy to do a call if you want to chat about this, otherwise closing for now

[2016-11-11 16:50] #101 closed

[2016-11-11 16:52] #74 closed

[2016-11-11 18:25] #122 closed

[2016-11-11 19:12] #115 closed

[2017-02-06 06:18] MarkEdmondson1234 commented on #81
Hi @sckott have you tried this out?  I've used your ssh/scp code at googleComputeEngineR, and getting people having issues on Windows trying to connect.  Using a version shipped with RStudio sounds cool.

[2017-02-06 08:02] sckott commented on #81
i haven't tried yet - will try to get to soon and get back to you

[2017-02-06 09:23] MarkEdmondson1234 commented on #81
@sckott a little development, it looks as if the RStudio SSH client has a hardcoded place to put SSH keys, so potentially you could use those to authenticate.  I'm in the same position as you in having trouble getting a Windows machine to fully test it https://github.com/cloudyr/googleComputeEngineR/issues/32#issuecomment-277599012

[2017-02-06 09:33] sckott commented on #81
thx, will have a look soon

[2017-02-09 10:34] hrbrmstr commented on #46
late to the party (mostly due to me resurrecting `harbor` and re-doing the `analogsea` interface for it.

I have empirical evidence (this is part of what I do for a living ;-) that changing the default port to something besides 22 does in fact enhance security greatly. It's a tiny obfuscation step but thwarts a big percentage of opportunistic attackers. It won't stop a determined one but nothing w

[2017-02-09 12:25] sckott commented on #46
+1 for other than 22 port  - what should that port be? a random port number between number x and y?

the `port` param sounds good to me.

[2017-02-09 14:34] hrbrmstr commented on #46
Aye. It could be a small-ish range, too. We could also add some links to things like <https://github.com/fail2ban/fail2ban> or add a helper function to install it on images. I'll noodle over some possibilities.

[2017-02-09 14:39] sckott commented on #46
thanks

[2017-03-29 05:06] sckott opened #123 "deprecating tag renaming"
https://developers.digitalocean.com/documentation/changelog/api-v2/deprecating-update-tag/

[2017-04-17 16:02] sckott opened #124 "Configurable TTL for Domain Records"
from https://developers.digitalocean.com/documentation/changelog/api-v2/configurable-ttl-for-domain-records/

[2017-04-22 02:43] trestletech opened #125 "droplet_create can't generate a random name without library(analogsea)"
I'm a bit rusty on my R package import lifetime, so pardon me for not being of more help with a suggested fix here, but...

If I attempt to use analogsea without first `library()`ing it, most things seem to work, however generating a random name for an image does not because of failures in the random name generation.

[code]

It looks like the adjectives and nouns variables need to be made availab

[2017-04-22 02:53] trestletech opened #126 "Functions involving key printing/handling (including droplet_create) broken with openssl >= 0.9.5"
analogsea imports httr which imports openssl.

It seems that something about the handling of SSH keys changed in the openssl package, though I don't see an obvious relationship. It's entirely possible that there's just a collision of class names here. But when I go to `droplet_create()` against the latest openssl on CRAN, I get an error.

[code]

I can reproduce this error on versions 0.9.5 and 0.

[2017-04-22 22:25] trestletech opened #127 "debian_add_swap not persisted across reboots"
It looks like `debian_add_swap()` doesn't do this so it works on the initial boot but is gone after reboot.

Running `swapon /swapfile` fixes things, but only until the machine shuts down again.

I believe that the swap entry needs to be added to `/etc/fstab` in order to survive a reboot.

[2017-04-25 05:04] sckott commented on #125
Thanks for the issue @trestletech

Not sure what the right answer is here, but what about loading the datasets in onLoad?

Made the change in https://github.com/sckott/analogsea/tree/datasets branch - thoughts?

[2017-04-25 05:08] sckott commented on #127
thanks @trestletech

Is `/etc/fstab` a dir or file? So just create the swapfile, then add to a `/etc/fstab`?

[2017-04-25 05:20] sckott commented on #126
thanks @trestletech

I can't replicate the error above, with `openssl` `v0.9.6` or other `openssl` versions

any thoughts?

[2017-04-26 22:07] trestletech commented on #127
Yeah, it's a file. Looks like it's just a one line append to `/etc/fstab`. See "Make the Swap File Permanent" here: https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-14-04

[2017-04-26 22:10] trestletech commented on #125
Hm... I may have not restarted my session properly, but I'm not getting

[code]

unfortunately, I'd have to brush up on my R package loading details before I'd be qualified to give a meaningful code review here. Just trying to test empirically.

It's entirely possible that the above message is user error, so feel free to disregard if you think your branch fixes things.

[2017-04-26 23:09] sckott commented on #125
you did install from `datasets` branch?

[2017-04-26 23:09] sckott commented on #127
Ah, cool, thanks very much

[2017-04-27 00:02] trestletech commented on #125
I did, indeed. And then I restarted the R session and that was the result I got. This is, of course, without having analogsea library()'d or otherwise loaded.

[2017-04-27 00:42] trestletech commented on #126
Hm... I'm on a clean session in R 3.3.2 on OSX. This is just after installing analogsea and openssl from CRAN.

[code]

[2017-04-27 02:07] sckott commented on #125
okay, i'll take another look at that branch

[2017-04-27 21:44] sckott commented on #125
can you try again after reinstalling from `datasets` - moved the data sets into the package in an R file as vectors. still works for me, but question is does work for you

[2017-04-27 21:52] trestletech commented on #125
Perfect! Had to downgrade openssl to get around #126 but once I did that I was able to run the following just fine:

[code]

[2017-04-27 21:55] sckott commented on #125
great!

[2017-04-28 00:12] sckott commented on #125
sorted in b948b19

[2017-04-28 00:12] #125 closed

[2017-05-06 00:42] #127 closed

[2017-05-06 00:42] sckott commented on #127
@trestletech okay, fixed, let me know if that doesn't work

[2017-05-06 16:05] sckott commented on #126
@trestletech okay, can replicate on vanilla session

Does appear to be a collision of s3 `key` methods

[2017-05-06 16:24] sckott commented on #126
@trestletech made some changes on branch `keys` https://github.com/sckott/analogsea/tree/keys

changed all `as.key` methods to `as.sshkey` and `print.key` to `print.sshkey` - didn't change all methods with key in name to keep fxn name changes to a minimum.

this does seem to fix it for me at least.

does this solution sound good to you?  suggestion for a different way to solve it?

there's no cran

[2017-05-06 16:25] sckott opened #129 "structure() call warning"
on `droplet_create()`

[code]

[2017-05-06 18:46] trestletech commented on #126
Installed your branch and things seem to be working well so far! The solution seems sensical as best I can tell, though I'm no s3 dispatch expert.

No worries about the API compatibility of this class on my end, so I'm :+1:

[2017-05-07 16:35] #126 closed

[2017-05-07 17:33] #123 closed

[2017-05-07 17:33] #124 closed

[2017-05-11 20:20] berkorbay opened #132 "SSH problem in docklet_pull (solved, but not ideal)"
Hi. I try to automate docklet creation and destroying. Though, I ran into some problems. I created my SSH key with a passphrase. I had DO to recognize it (by copy-pasting public key).

First problem I encountered was on the CRAN version. (Just tried today) I had the following error.

`Error in derive_pubkey(key) :RAW() can only be applied to a 'raw', not a 'list'`

Then I installed devtools versio

[2017-05-12 18:31] sckott commented on #132
thx for the issue @berkorbay  vacaying right now, will have a look monday

[2017-05-16 18:19] sckott opened #133 "use sys package for system calls"

[2017-05-16 18:19] sckott commented on #132
right, the `Error in derive_pubkey(key)` error is fixed in the dev version here

Looking at the ssh errors

@trestletech curious if you have thoughts on this. Here's the commit that created the ssh options now used https://github.com/sckott/analogsea/commit/d5f2335c02103f08bd0425e577baef2dad216969 - we use a temporary hosts file

I'm guessing that once a user has ssh'ed successfully once, after th

[2017-05-16 18:21] sckott opened #134 "`docklet_rstudio` should probably return a droplet, not the URL"
to be pipeable

[2017-05-16 18:40] sckott opened #135 "`docklet_images` needs an `all` param"
like `droplet_ps()` has

for showing all images

[2017-05-16 21:45] trestletech commented on #132
Is the berk1 key that analogsea is aware of the same key that you ended up using to SSH in? I notice that you specified a key `.ssh/id_rsa2` which wasn't found so it fell back to `.ssh/id_rsa`.

I'm not familiar with how analogsea identifies the SSH keys on the system or which ones it would attempt to use to connect.

[2017-05-16 22:28] sckott commented on #132
@berkorbay ^^ see above question

thx @trestletech good catch

[2017-05-17 05:25] berkorbay commented on #132
Thanks for the responses!

Ok, I see your point about id_rsa2 - id_rsa stuff. Even though I made that mistake, "Terminal" fixed it for me. Though, it is not related to the main problem. I will write my train of thought in items so you can tell me what I am doing wrong.

Some missing information I should add. I used the development version and I am using a Macbook Air. R version 3.3.3.

+ I generat

[2017-05-24 16:55] berkorbay commented on #132
I updated R, reinstalled github version of analogsea. This time it worked quite nicely. Btw, thanks for making such an amazing package.

[2017-05-24 16:55] #132 closed

[2017-05-24 22:10] sckott commented on #132
great, glad it works @berkorbay !

[2017-09-01 17:32] thercast opened #136 "Thoughts on spaces API integration"
I'm a big fan of `analogsea` as digital ocean is a huge part of my infrastructure, so thank you so much for creating this package!  Recently digital ocean has begun rolling out early access to their new [object storage](https://www.digitalocean.com/products/storage/object-storage/) capability (also known as _spaces_) and I'm fortunate enough to be part of the early beta for access.  It operates in

[2017-09-05 17:55] sckott commented on #136
@thercast Glad you like the package.

This sounds good to me!  I just applied for it as well so that I can contribute to development

How do you want to proceed?  Do you have time to work on the code for this, or do you want me to start on it? If you start on it, do follow general style we've used in this package

[2017-09-06 20:08] sckott commented on #136
okay

[2017-09-13 19:51] sckott opened #137 "CAA Support for Domain Record resources - see if need to change anything here"
https://developers.digitalocean.com/documentation/changelog/api-v2/caa-support-for-domain-record-resources/

[2017-09-13 22:52] sckott commented on #134
and `docklet_shinyserver`

[2017-09-13 23:08] sckott commented on #134
done in 0b91f90f13e2f2bec99f5399e794d91e82ef7cff

[2017-09-13 23:08] #134 closed

[2017-09-13 23:08] sckott commented on #129
done in 0b91f90f13e2f2bec99f5399e794d91e82ef7cff

[2017-09-13 23:08] #129 closed

[2017-09-13 23:19] #137 closed

[2017-09-13 23:50] #135 closed

[2017-09-14 05:55] #106 closed

[2017-09-26 22:00] sckott commented on #136
any thoughts on this?

[2017-09-26 22:02] amoeba commented on #136
[Commenting because I had been lurking on this thread for a few weeks] I'd be down with helping implement this if the help was needed.

[2017-09-26 22:05] thercast commented on #136
AFK but I like your idea of passing the 404 in a friendly way back to the
user.  In that way we don't need to keep track of which functions need auth
versus not.  I'm still learning the ropes on best practices, but it seems
with `httr` we should be able to get the status of the request back and
configure a stop with a simple message based on it

On Sep 26, 2017 6:00 PM, "Scott Chamberlain" <notifi

[2017-09-26 22:08] sckott commented on #136
@thercast i think you meant to put that in discgolf?

[2017-09-26 22:19] thercast commented on #136
Oh geez yes you are right! Regarding this I looked more closely at the
[aws.s3](https://github.com/cloudyr/aws.s3) package and while it would be a
bit much to depend on it directly (since all their functions require aws
credentials) I think we can adapt most of the key functions to list, add,
delete objects from spaces.  I'll try implementing a method to list all
spaces for a user following your s

[2017-09-26 22:32] sckott commented on #136
@amoeba i think so, maybe wait to see first PR from @thercast then divy up work

-----

PR's sounds good

[2017-09-27 00:18] amoeba commented on #136
Sounds good to me!

[2017-09-28 04:14] thercast commented on #136
@sckott I have preliminary support for a few of the key operations for spaces (listing spaces, listing objects within a space, and creating a new space) ready for your review at [this custom branch](https://github.com/thercast/analogsea/tree/spaces).  I have more polishing to do but didn't want to go too far in case you have different ideas.

It turns out that the `aws.s3` package functions work n

[2017-09-28 23:15] sckott commented on #136
@thercast

- are the key and secret for spaces different than for droplets? looks like it, just making sure
- i'd prefer not to have users pass in access key and secret but to instead have them set env vars
- i think going with `aws.s3` is good for now. nice that it works mostly out of the box. i do want to swap out `httr` for `crul` at some point, so may need to take it out, but good for now.
- i

[2017-09-29 03:18] thercast commented on #136
@sckott here are some notes:

Yes that's correct.  Digital Ocean allows you to create multiple spaces keys, so you can specify the key associated with a bucket during creation.

I agree.  One thing I forgot to mention is that the functions will look for environment variables `DO_SPACES_ACCESS_KEY` and `DO_SPACES_SECRET_KEY` in the session if they are not passed explicitly in the function calls. If

[2017-09-29 17:16] sckott commented on #136
All sounds good

[2017-10-16 20:57] trestletech opened #139 "Ubuntu 16.04.3 Update Hangs on GRUB issue"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Currently `debian_apt_get_update` gets stuck on an interactive prompt over a GRUB configuration file. (Originally reported: https://github.com/trestletech/plumber/issues/175)

You can reproduce by spinning up a Ubuntu 16.04 instance which, at the time of writing, defaults to 16.04.3. If you then call `debian_apt_get_upd

[2017-10-17 05:08] sckott commented on #139
thanks @trestletech for this.

Do you envision adding that incantation as a optional thing to the function?

[2017-10-17 12:39] trestletech commented on #139
I think you’d actually be safe to replace the current upgrade call with that one.

I’ll confess that I have to look that magic up every time, but we use something similar internally to say “I don’t care what you blow away, just do the install/upgrade.”

I think they’re just different ways of telling the machine that you really don’t want an interactive prompt, which seems like that is always the r

[2017-10-17 16:27] sckott commented on #139
Right, we never want an interactive prompt.

Okay, will work on

[2017-10-17 17:29] sckott commented on #136
Now that #138 is merged, can you two divy up tasks ti fill out remaining methods for spaces API?

[2017-10-17 18:45] amoeba commented on #136
Glad to hear it. Nice work @thercast! @thercast do you want to make a new Issue with a checklist of remaining tasks and I can put my name on a few if you want help?

[2017-10-17 23:14] thercast commented on #136
@amoeba that sounds like a great idea.  Please go ahead and create a new issue and we can discuss how to divy up the remaining pieces.

[2017-10-18 00:11] amoeba opened #140 "Finish implementation of Spaces API"
https://github.com/sckott/analogsea/pull/138 added support for part of the Spaces API and we decided in #136 to start a fresh issue to help divvy up the tasks of completing the API. Below is a checklist with items transcribed from the [Spaces API docs](https://developers.digitalocean.com/documentation/spaces):

- [ ] Bucket Operations
  - [ ] Create a Bucket
  - [ ] List All Buckets
  - [ ] List a

[2017-10-19 16:22] sckott opened #141 "fix spaces documentation"
@thercast the spaces docs need fixing.

[code]

I think all you need is `#' @name spaces` here https://github.com/sckott/analogsea/blob/master/R/spaces.R#L64

[2017-10-22 20:02] #141 closed

[2017-10-23 20:15] amoeba commented on #140
@sckott I more or less copied the list from the API docs. Does having `analogsea` implement all of these seem appropriate?

@thercast Did you have any preference for which methods you wanted to tackle first? I should be able to take a look at this some evening this week and actually be helpful.

[2017-10-23 21:49] sckott commented on #140
I think it makes sense to include all of them

[2017-11-06 01:20] amoeba commented on #140
I sat down to get a lay of this and everything looks very reasonable. I wrote a `get_object` function to match the Spaces API method `GET ${BUCKET}.${REGION}.digitaloceanspaces.com/${OBJECT_KEY}` using `aws.s3::get_object` and immediately noticed that `aws.s3` didn't reasonably handle error cases.

See this example with an invalid bucket name, purposely run:

[code]

It returns the raw response an

[2017-11-07 02:01] thercast commented on #140
@amoeba thanks for your work on this!  I've been AFK due to illness but I want to jump back in to help out.  I'll add notes on which features I would like to tackle this week.

Regarding the error handling with `aws.s3`: I struggled with how to handle this in my first implementation.  We have a lot of functionality already built for us within `aws.s3`, and having that convenience for this early im

[2017-11-07 03:23] sckott commented on #140
Thanks for raising the issue with erroring. I definitely value failing well, so I'd strongly prefer to make sure users get useful errors - and DigitalOcean, at least with the Droplet API (and I assume with the spaces API) fails well and correctly making it easy to give users appropriate errors

We currently still use `httr` in this package. Main thing keeping `httr` around is that it can do oauth

[2017-11-07 06:18] amoeba commented on #140
Sounds good, thanks for weighing in @sckott. If/when the `aws.s3` package changes how they handle error cases, this package benefits automatically, so I'm down with filling in this portion of the package with `aws.s3` as much as possible.

@thercast Sorry to hear you were out! Looking forward to your notes.

[2017-11-11 00:55] sckott commented on #139
@trestletech sorry for the delay on this!

I can't seem to replicate this now. trying

[code]

it doesn't hang

can you still replicate this problem?

[2017-11-30 18:08] sckott commented on #140
any thoughts on this? anything I can help with?

[2017-11-30 18:29] sckott opened #143 "use libssh instead of shelling out"
@jeroen may be able to hook us up with an R libssh client so we don't have to shell out with system/etc., using one of https://www.libssh2.org/ or https://www.libssh.org/

We do a variety of operations in `analogsea`, all funneling into this https://github.com/sckott/analogsea/blob/db3c0ec407ea0c7a7cf1112d58de3fdbaa19b2e1/R/droplet-ssh.R#L164 `system()` call.

For all system calls, we first do two

[2017-11-30 18:33] jeroen commented on #143
How do users typically authenticate? Do you assume they have their key in the right place and all?

[2017-11-30 18:35] sckott commented on #143
We strongly recommend that users use ssh keys - and assume they have them in the right place. i guess it'd be nice to fail well with useful message if key not in right place

[2017-11-30 18:39] jeroen commented on #143
The problem is that because ssh is not native to windows, there is no right place. So we'll have to make something in R to let the user provide a keyfile or password.

[2017-11-30 18:42] sckott commented on #143
okay, makes sense

[2017-12-04 06:24] amoeba commented on #140
I'm still down to help PR this addition but wanted to let @thercast take lead since it was his idea. Hopefully he'll pop in here and we can get this done soon?

[2017-12-18 21:23] sckott commented on #140
@thercast any thoughts? if you're too busy, anything @amoeba or I can move forward on?

[2017-12-27 18:36] thercast commented on #140
Hi @sckott  and @amoeba, sorry for the delay (an urgent shiny app came up at work and then the kids got sick) but I would like to tackle the listing of bucket contents and deletion of a bucket (these tasks should help shake off the cobwebs of being away for a bit).  @amoeba I'd be glad if you'd like to start on the fundamental operations for objects in a space (i.e. downloading, uploading, deletin

[2017-12-27 18:43] amoeba commented on #140
Sounds good to me!

[2017-12-29 13:34] nicksmithr opened #144 "Error: Unknown specification for ssh_keys"
Hello,
Pretty new to this, so apologies if this is a stupid error on my part.

I'm trying to launch a Plumber server using Digital Ocean, following [Plumber's guide](https://www.rplumber.io/docs/hosting.html#digitalocean). I have set up a SSH, and added to `Settings` in my Digital Ocean account. I have also set up an environment variable as DO_PAT with a token for Digital Ocean's API.

Calling `dr

[2017-12-29 16:56] sckott commented on #144
thanks for your interest in the pkg and opening the issue.

`ssh_keys` supports only certain inputs as you can see https://github.com/sckott/analogsea/blob/4c89d1a16c9918863c27acf1887b3b94c9e6a2d0/R/keys.R#L87-L116 - so are you passing in something that's not supported?

[2017-12-29 16:59] sckott commented on #139
@trestletech can you still replicate this problem?

[2017-12-29 18:14] trestletech commented on #139
Sorry, I haven't tried recently and my DigitalOcean configuration on this machine isn't setup properly, so I'm not able to test it at the moment. If nobody else has hit this I bet you're safe to ignore.

[2017-12-29 18:27] trestletech opened #145 ""Unknown specification for ssh_keys" on droplet_create"
Originally reported in https://github.com/trestletech/plumber/issues/224, but I've since been able to reproduce:

[code]

It looks like analogsea uses `list()` as the default for [`droplet_create`](https://github.com/sckott/analogsea/blob/a2cc5c86e00e87106dd5066241fee9b650846e85/R/droplets_create.R#L38), but `NULL` as the default for [`dropletS_create`](https://github.com/sckott/analogsea/blob/4c8

[2017-12-29 18:35] nicksmithr commented on #144
Thanks for the reply and the package @sckott unbelievably useful. @trestletech has reproduced and opened an issue: https://github.com/sckott/analogsea/issues/145

It's due to a single object rather a list, it seems, being passed into `droplet_create`

[2017-12-29 18:36] trestletech commented on #145
Oops. Dup of #144.

[2017-12-29 18:36] #145 closed

[2018-01-02 18:53] sckott commented on #139
Okay, thanks

[2018-01-02 18:53] #139 closed

[2018-01-02 20:15] sckott commented on #144
hugh, changed `droplet_create` and `docklet_create` to use `list()` as default for `ssh_keys` in 0b91f90f

but i can't remember why i did that - and did not do it for `droplets_create`/`docklets_create`

[2018-01-02 20:29] sckott commented on #144
@nicksmithr try again - after reinstalling `devtools::install_github("sckott/analogsea")`

[2018-01-09 07:17] amoeba commented on #140
First half of the Object calls implemented in https://github.com/sckott/analogsea/pull/146. Went pretty well. Regarding the calls I didn't implement,

- Delete an Object

    I don't know why my code isn't working (yet). It looks like I'm seeing an issue with passing of the `base_url` argument which is only affecting this function. It *looks* like it should work just fine.

- Multi-part operations

[2018-01-09 18:56] sckott commented on #140
Regarding the PR, I assume you're adding more to it? Or do you want it to be handled as is?

- do you have thoughts on function names? I think it would be better to change the structure to e.g. `spaces_thing_verb`, so for example change `spaces_get_object` to `spaces_object_get` so that when users are searching through function names (e.g., tab completion to find functions) you get all the functio

[2018-01-09 18:56] sckott opened #147 "pipeable spaces setup"
Did we talk yet about making spaces functions follow droplet functions pattern of facilitating piping them together?

do we not want to do that? or do we?

[2018-01-09 21:12] sckott opened #148 "Add tests to package"
There's just a few tests right now, only those that don't test against actual interactions with Digitalocean.

Here's what I think could be the approach for each function:

1. Right now, we can add tests of failure behavior and any other thigns that don't test against requests to Digitalocean - see current tests for examples
2. Start on testing real functionality of functions, but with mocked data

[2018-01-11 06:39] amoeba commented on #140
I should've made that more clear, sorry: I'm planning on adding more commits but needed the intermediate review (thanks!). Once I'm done, do you mind a messy PR or would you rather I squash the PR into a single commit once I'm happy?

Re: Your comments:

Sold!

Sounds great.

Great, this is new to me so I'll look that up and take a stab at it.

Good suggestion!

I like this a lot. Will do.

Great,

[2018-01-11 07:46] amoeba commented on #140
Okay, figured out the Roxygen template functionality to DRY up the common @params.

- What do you think about my above question about the multi-part functionality?
- Since ACL's are returned as text but are XML documents, what do you think about detecting the `xml2` package, and returning an `xml_document` if it's installed. If it's not installed, sending a `message()` telling the user they can in

[2018-01-11 07:59] amoeba commented on #147
I don't think we've talked about this.

I like the idea generally, but worry about it due to some of the functions having side effects (that sometimes cost money). That said, I tend to like functions whose arg order naturally supports pipes anyway as they feel more consistent. The arg order I copied from `aws.s3` might not be how I would've thought it de novo.

e.g. from aws.3s:

- Less pipe-able:

[2018-01-11 09:01] amoeba commented on #140
Figured out the problem with deleting objects. Totally just due to a bug in `aws.s3`, which I've Issue+PR'd  https://github.com/cloudyr/aws.s3/issues/189

[2018-01-12 11:12] nicksmithr commented on #144
Sorry for the late reply @sckott, that worked great.

[2018-01-12 11:12] #144 closed

[2018-01-15 19:57] sckott commented on #140
not sure on the multipart thing. to make separate functions, how many more fxns does that add?

for xml, like idea of putting `xml2` in `Suggests` in `DESCRIPTION` file, then like you say we parse to an xml_document if installed and if not then just the character string.

[2018-01-15 19:58] sckott commented on #147
Okay, I'm not wedded to the idea of pipeable functions, but it does seem good to do it since many of the droplet functions are that way. we have some waiting internal utilities that you may need, as I imagine there's a bit of a wait time for the space to be created

[2018-01-15 22:59] amoeba commented on #147
Consistency sounds good. I generally like the argument order that comes out of making a function work better in a pipeline. I'm curious: If the droplet/space comes first, would that be considered least-significant-first or most-significant-first order? I feel like there's gotta me some CS terminology here.

I'm not sure I fully understand what you mean here. Could you elaborate?

[2018-01-15 23:06] amoeba commented on #140
It'd be five new functions which have a 1:1 mapping with their Spaces API calls. I think the main reason to do this is so we can claim this package implements the Spaces API with 1:1 mappings between API routes and R functions. I _don't_ think this would be commonly used by this package's users.

For the user to upload a multi-part file, they would have to write their own routine to start, upload

[2018-01-16 01:02] amoeba commented on #140
Okay, `xml2` support added to `spaces_acl_put` and `spaces_acl_get` in https://github.com/sckott/analogsea/pull/146/commits/19a98b070145893bd64ed859e352d318b6317c9b

If you're okay with not implementing the multi-part API with 1:1 functions, then the Object API is done.

[2018-01-16 01:06] amoeba commented on #140
Oh, and a note on how I did that: I noticed that `aws.s3` `Imports` `xml2` and, since `analogsea` `Imports` it too, `xml2` is basically a hard-dependency for `analogsea` anyway. I left the `requireNamespace` guards in just in case `analogsea` ever moves away from `Import`ing/using `aws.s3`.

[2018-01-16 18:14] sckott opened #149 "New Size Slugs for Droplet Plan Changes - see if we need to change anything"
https://developers.digitalocean.com/documentation/changelog/api-v2/new-size-slugs-for-droplet-plan-changes/

[2018-01-18 19:05] sckott commented on #140
Agree to just put `multipart` as an argument.

Sounds good on the `xml2` import thing.

so PR https://github.com/sckott/analogsea/pull/146 is ready to go from your side?

[2018-01-18 19:07] sckott commented on #147
Hmm, not sure of the CS terminology, no idea.

The waiting stuff .e.g, https://github.com/sckott/analogsea/blob/a2cc5c86e00e87106dd5066241fee9b650846e85/R/actions.R#L64-L95 is to be able to pipe together operations that depend on the previous operating finishing. spinning up a droplet takes a little while, so helper functions help make sure the operation has finished before the next thing happenin

[2018-01-19 00:51] amoeba commented on #140
Almost. I decided to verify the `aws.s3` multipart functionality actually works with Spaces and it doesn't seem to. I'll do some testing and get back to you. Otherwise, yes.

[2018-01-19 01:11] amoeba commented on #140
Found two blocking bugs in the `aws.s3` package preventing me from implementing this package's  multipart uploads with it. Might take a long time to get it patched upstream. Any preference on what to do?

[2018-01-19 01:59] amoeba commented on #147
Ah, that's very useful.

[2018-01-19 19:35] sckott commented on #140
hugh - i guess move ahead here and add to docs that multipart doesn't work now, but will work later?

[2018-01-19 19:36] sckott commented on #147
the `do.wait_time`  option bit is so that users can set the wait time themselves - sometimes a user may want to spin up a ton of droplets - and when pinging the DO API to check if the droplet is up yet, that counts against the users rate limit

[2018-01-19 20:29] amoeba commented on #140
Okay, #146 is good to go! Thanks @sckott

[2018-01-25 02:31] sckott opened #150 "Make manual files to summarise droplets and spaces"
e.g., `?droplets-info` and `?spaces-info` or similar. can't do `droplet` or `droplets` since those are fxns, same for `spaces`

giving description of what droplets/spaces are and high level overview of the various fxns for each

[2018-01-29 12:47] jeroen commented on #143
Gonna work on a ssh client this week :)

[2018-01-29 17:38] sckott commented on #143
thanks @jeroen

[2018-01-31 22:55] sckott commented on #143
pkg by jeroen https://github.com/ropensci/ssh getting there , looking most bueno

[2018-02-02 17:34] sckott commented on #133
closing in favor of #143 - to use `ssh` pkg instead

[2018-02-02 17:34] #133 closed

[2018-02-06 19:23] sckott commented on #143
@jeroen a question for you on `scp_download`  - to try, insall `devtools::install_github("sckott/analogsea@ssh")`

[code]

uploading works great

[code]

But when I download, the behavior isn't what I would expect, where `mtcars2.rds` ends up being a directory, under which the file actual file exists as `file10cda7b26f4c3`

[code]

Then reading fails

[code]

[2018-02-06 19:30] jeroen commented on #143
Hmm that's a bug.

[2018-02-06 19:35] jeroen commented on #143
I think you are passing `"mtcars2.rds"` to the `to` parameter, which indicates a directory on the server where you want to download into. The directory will be created if it does not exist.

Just upload to `"."` to copy the file to the working directory.

[2018-02-06 19:55] sckott commented on #143
okay, i think it makes sense now

[2018-02-07 19:28] sckott opened #151 "Change default image for droplet create to `ubuntu-16-04-x64`"
for `droplet_create`/`droplets_create`/`docklet_create`/`docklets_create`, any others?

right now we have `ubuntu-14-04-x64`

[2018-02-07 19:30] sckott opened #152 "Change default size to `1gb` ?"
right now we have `512mb`

thoughts anyone? @amoeba @thercast @trestletech

[2018-02-07 19:31] sckott commented on #151
thoughts anyone? @amoeba @thercast @trestletech

[2018-02-07 19:35] amoeba commented on #152
Good catch. It doesn't even look like they offer a 512MB option now that the doubled their Droplet sizes last month. I see the 1GB as their smallest now. I think the average `analogsea` user probably doesn't need more than the 1GB to start.

[2018-02-07 19:38] amoeba commented on #151
I'd say 👍 . DigitalOcean offers great tutorial pages and I expect, now that 16.04.3 is their default image, their help pages will be focused around that version of Ubuntu (if they aren't already).

[2018-02-07 19:41] sckott commented on #152
Right, i thkn it makes sense to give them the smallest size possible by deafult in those cases where they are surprised that it costs money 🙈

you can see that they still have 512 mb if you run `analogsea::sizes()` but they don't show it in the web UI

[2018-02-07 19:54] amoeba commented on #152
Oh, tricky. I wonder if that would be confusing to a user f they couldn't find the Droplet size they see in R on the web. The Python, Ruby, and Go DigitalOcean packages all still use 512 so maybe just follow the crowd? Obviously, they could just be about to make the jump to 1GB.

I think the any pros of moving to 1GB as the default could be outweighed by the increased cost. Plus: DigitalOcean prov

[2018-02-07 20:00] sckott commented on #152
could try to ameliorate by documenting well :)

[2018-02-07 20:08] sckott commented on #143
@amoeba @thercast @trestletech @studerus @nicksmithr @berkorbay

Thanks to @jeroen pkg [ssh](https://github.com/ropensci/ssh) we have a new and better way to ssh to droplets. If you have time can you try out a dev version with

`devtools::install_github("sckott/analogsea@ssh")`

or switch to that branch, etc.

changes so far in `droplet_ssh`, see examples there.

see changes here (master vs. ssh b

[2018-02-07 20:35] amoeba commented on #143
Cool! Just tested it out and it works great!

[2018-02-07 20:54] sckott commented on #143
great, thanks @amoeba

[2018-02-08 01:49] thercast commented on #152
Chiming in late but my vote is to keep the default at 512 mb for the reasons mentioned ☝️ .  It's easy enough to resize up for users if needed.

[2018-02-08 07:20] amoeba commented on #140
Filed an upstream issue for Space creation not working https://github.com/cloudyr/aws.s3/issues/199

[2018-02-08 16:34] trestletech commented on #152
Assuming that the unlisted 512MB instance is actually cheaper, I'd vote for the cheapest/smallest option until if/when you're spending lots of times dealing with bugs about people running out of memory.

But if the price is a wash or if you're spending lots of time helping people deal with OOM errors, I don't feel strongly.

[2018-02-08 19:27] sckott commented on #152
thanks @thercast and @trestletech

Seems like there is one option with `1gb` that is the same price, and two other options where its 2x and 3x the price

[code]

[2018-02-08 19:33] trestletech commented on #152
Well then I vote 1GB!

[2018-02-08 19:40] sckott commented on #152
okay, i'll test and make sure that price is the right price, it's not clear what exactly `s-1vcpu-1gb` means

[2018-02-09 03:28] thercast commented on #151
I agree.  Now my ubuntu servers are on 16.04 so it makes sense to keep in line with the latest LTS release.

[2018-02-09 03:58] thercast commented on #143
@sckott Thank you very much for implementing this!   I ran a quick test and found a minor problem.  I always use ssh keys from my local machines to connect to my droplets, but it appears that the `droplet_ssh()` does not allow for extra parameters to be supplied and passed on to the `ssh::ssh_connect()`(see [line 110](https://github.com/sckott/analogsea/blob/41a18a717844a357fd5259c831948aa014b8c4c

[2018-02-09 20:50] sckott commented on #151
okay, will update to that image

[2018-02-09 22:49] sckott commented on #143
thanks @thercast looking at the PR

[2018-02-22 17:40] DataStrategist opened #154 "Error in cli_tools() while trying do_provision()"
I originally opened this ticket https://github.com/trestletech/plumber/issues/239 , who refered me to you

So from Rstudio, I'm trying to set up plumber in a DO droplet.  I have successfully authenticated my account to the R-session, but immediately after that I get the following error:

[code]

I have putty installed, routinely ssh from the rstudio terminal, but also the git bash on this pc has s

[2018-02-22 19:44] sckott commented on #154
thanks for opening the issue @DataStrategist

I'm not sure what exactly the issue is, it's possible it's the scp thing. I could fiddle with that internal fxn `cli_tools` that checks for ssh and scp, but we're working on re-making the ssh interface with the new package [ssh](https://github.com/ropensci/ssh) on the [ssh branch](https://github.com/sckott/analogsea/tree/ssh) - can you install it `remo

[2018-02-23 14:55] DataStrategist commented on #154
Yup, that seemed to do something! I'm assuming you meant `devtools` instead of `remotes` on the `install_github` command, right?

Anyway, so that did try to do something, but now I ran into this:
![image](https://user-images.githubusercontent.com/8094091/36600159-6eaeecfe-18a9-11e8-9063-d4986c47023f.png)

I'm in London, does it perhaps only support US? I have also confirmed w/ my account, nothing

[2018-02-23 18:53] sckott commented on #154
https://github.com/r-lib/remotes is replacing `devtools::install` stuff AFAIK, but both work

You can pass on options via `...` in `do_provision` to `analogsea::droplet_create`, one of which is `ssh_keys` which defeaults to `getOption("do_ssh_keys", NULL)` , so you can save as an r option your ssh key , see docs for `analogsea::keys` and `analogsea::droplet_create`

[2018-02-23 22:45] DataStrategist commented on #154
fair enough about the ssh keys, but the error was `region is not available`... the ssh was just a warning. I retried with: `do_provision(region='lon1')` and it worked a bit further. I think perhaps some input is getting jacked up somewhere and being fed into the region? Strange that it should throw an error, it doesn't even look like the first feature on the `droplet_create()`. Weird!

Now I'm get

[2018-02-23 23:11] sckott commented on #154
so did you get an email with your password?

[2018-02-23 23:33] DataStrategist commented on #154
yessir!

[2018-02-23 23:47] sckott commented on #154
i'm not sure what happened with the `region is not available error`. i would have done what you did, to try a new region.

using ssh keys is not mandatory, but it's strongly recommended. ssh keys are definitely  trickier on windows. If I were you I'd load up `ssh` package and take your server user name/IP address and ssh key and make sure it works with `ssh::ssh_connect`, then try to run anything

[2018-03-16 09:31] raminsu commented on #154
Ok, i am working from Rstudio desktop on windows and trying to droplet_create() and do_provision(). I succeeded in droplet_create() and after overcoming both the errors of OP (region and ssh) with help of advise as given above and two statements below:
`droplet_create(ssh_keys = analogsea::as.sshkey("keynamegivenonthewebconsole"))`
and testing ssh via
`droplet_ssh("droplet", "whoami", user = "root

[2018-03-16 17:37] sckott commented on #154
@raminsu that's an error in trying to add swap memory here https://github.com/trestletech/plumber/blob/master/R/digital-ocean.R#L62

can you use `droplet_create()`, then ssh in from a shell? let's make sure that works first

[2018-03-18 05:12] raminsu commented on #154
Thanks @sckott for pointing it out. I used `droplet_create()` and also accessed droplet via ssh from shell. Logged in as root user and couldn't resist trying out these commands,
[code]
As i understand there seems to be no warning or error when run from within server. I tried to execute the do_provision() and debian_add_swap() at the end from my R session and got this error for both
`Error: libssh

[2018-03-19 17:54] amoeba commented on #140
aws.s3 is getting some fixes as we speak [1] so I'll plan to re-visit some of the existing issues with the Spaces implementation that are waiting on upstream changes this week.

[1] https://github.com/cloudyr/aws.s3/issues/189

[2018-04-14 15:42] Kvit opened #155 "How to provide additional ssh options?"
How can we provide additional options to ssh wrappers?  For example:
- location of scp.exe / sftp.exe utilities on PC
- location of identity file / private key
- location of known_hosts on PC
- other options recognized by ssh/scp/sftp utilities

To make clp / sftp from Rstudio package work on windows I have to feed information about location of identity files and known_hosts. This line works for e

[2018-04-14 15:57] Kvit commented on #88
Here is what I found :
-  ssh wrappers in analogsea cannot file location of scp.exe via variable RSTUDIO_MSYS_SSH
- clp / sftp utilities themselves cannot correctly find the location of identity files / certificates or known_host files on windows (they keep trying /home/ directory)

I was able to force clp / sfp utilities to work by explicitly providing information via option flags, but I don't kn

[2018-04-15 15:57] sckott commented on #155
thanks @Kvit for the issue

@jeroen do you know if `ssh` package can already handle any of the items mentioned above?

[2018-04-15 15:58] sckott commented on #88
thanks for the feedback @Kvit  we'll see what can be done over in #155

[2018-04-15 16:01] sckott commented on #154
thanks for this @raminsu - Are you using the version on branch `ssh` (installed via `remotes::install_github("sckott/analogsea@ssh")`)

@jeroen any idea what to make of the error:

[code]

[2018-04-15 19:10] jeroen commented on #155
With the ssh package we don't shell out to `scp.exe` so this is not relevant. The private key is set in the `keyfile` parameter in `ssh::ssh_connect()`.

[2018-04-16 00:02] amoeba commented on #140
Sat down with this a bit yesterday and today and ran into more upstream issues. @leeper added support for non-AWS S3-compatible storages but I'm getting signature mismatch errors no matter what I try now: https://github.com/cloudyr/aws.s3/issues/189. I think I'll wait to see what @leeper says in case this is a quick fix on either my end or aws.s3's.

[2018-04-17 13:01] jeroen commented on #155
@Kvit can you try running the ssh branch? This will probably soon be the cran version.

[code]

[2018-04-22 04:14] smach commented on #154
FYI I'm getting the same error message, "Error in file(con, "wb") : cannot open the connection" and then the same sort of error about can't open a file.

[2018-04-22 05:15] raminsu commented on #154
@sckott I used the version on branch ssh via devtools::install_github("sckott/analogsea@ssh") earlier and tried it again but the error persists during do_provision("droplet") Error message: `        2 C:\Users\user\AppData\Local\Temp\RtmpkRIDdA\file204460b025c7/kFuzUeFvYR
Error in file(con, "wb") : cannot open the connection
In addition: Warning message:
In file(con, "wb") :
  cannot open file 'C:

[2018-04-24 22:19] sckott commented on #154
@smach can you verify that you used the `ssh` branch version?

[2018-04-24 22:29] sckott commented on #154
@raminsu let's test if using package `ssh` works. try this and let me know what happens:

[code]

replace `user` with your user login for the server and `ip-address` with the IP address for your server
and you may need to pass a path to `keyfile` and/or a password to `passwd` parameter in `ssh_connect`

let me know

[2018-04-25 13:55] smach commented on #154
@sckott Yes. And in fact I tried analogsea::droplet_crate(region = "nyc1") and it worked fine. So I'm not 100% sure the problem I encountered was with analogsea as opposed to something specific in plumber::do_provision(). I tried do_provision() on the existing droplet and had trouble authenticating with my key -- I'll have to try again tonight after work. Thanks very much for all you do regarding

[2018-04-26 18:11] sckott commented on #154
@raminsu glad at least that works, now I can eliminate the possibility that `ssh` wasn't working

will get back to you

[2018-04-26 18:11] sckott commented on #154
@smach bummer, will get back to you with another thing to try

[2018-05-08 17:03] sckott opened #156 "New certificates route"
https://developers.digitalocean.com/documentation/changelog/api-v2/lets-encrypt-support-for-certificate-resources/

[2018-05-19 00:00] sckott commented on #155
@Kvit did you try it?

[2018-05-19 00:02] sckott commented on #136
closing in favor of continuing discussion in #140

[2018-05-19 00:02] #136 closed

[2018-05-19 00:03] sckott commented on #140
@amoeba any update on this?

[2018-05-19 00:13] amoeba commented on #140
I wish. I'm kinda stuck on https://github.com/cloudyr/aws.s3/issues/189#issuecomment-381448618. Something to do with assumptions in https://github.com/cloudyr/aws.signature about AWS vs. non-AWS endpoints. I feel like I might be able to throw some more brain cells at it (and a fresh look could help) but I'm not yet sure what's going on and why were getting `SignatureDoesNotMatch` errors.

[2018-05-19 00:41] #151 closed

[2018-05-19 00:41] #152 closed

[2018-05-19 00:44] sckott opened #157 "firewalls routes"
https://developers.digitalocean.com/documentation/v2/#firewalls

[2018-05-19 00:54] Kvit commented on #155
sorry, was tied with other projects, will try and report back

[2018-05-19 15:44] sckott commented on #140
Okay. So is the only thing not working multipart uploads due to this aws.s3 thing ? If so, can we move on towards a cran submission and just document that?

[2018-05-19 18:36] #157 closed

[2018-05-19 18:48] #156 closed

[2018-05-19 21:52] amoeba commented on #140
I think other things aren't working too, like creating a Space. I can't check today but I'll see if I can't take a look tomorrow while traveling. There are enough moving parts here that I don't have a good handle off-hand of what works, what doesn't, what broke, and why.

I'd definitely like to see this get off to CRAN ASAP, maybe by the end of the month.

[2018-05-23 18:32] sckott opened #158 "block storage (volumes) API changes"
https://developers.digitalocean.com/documentation/changelog/api-v2/auto-formatting-support-for-volumes/

[2018-05-28 02:30] amoeba commented on #140
Bucket creation is definitely not working. I thought we'd found the issue over on https://github.com/cloudyr/aws.s3/issues/189 but that wasn't quite the trick.

[2018-05-29 17:25] sckott commented on #140
Okay, will also take a look soon

[2018-06-11 15:30] sckott opened #159 "Fix docklet_rstudio_addusers for new ssh integration"
using old `ssh_options` function

[2018-06-11 18:28] sckott commented on #159
using new ssh package workflow ✔️

but need to fix `docklet_rstudio_addusers` so that if the rstudio server instance is alreday up, we bring it down first, then add users, then bring it back up

[2018-06-11 18:32] #143 closed

[2018-06-11 18:34] sckott commented on #155
closing due to inactivity

[2018-06-11 18:34] #155 closed

[2018-06-11 18:35] sckott commented on #154
@smach @raminsu  the ssh work is now merged into master - if you could try again I would much appreciate it.

[2018-06-11 18:36] #114 closed

[2018-06-11 19:06] #149 closed

[2018-06-12 00:20] sckott commented on #140
hey @amoeba - thinking about this a bit, I played around with trying to fix bucket creation, but go nowhere. Okay with you if we move on with next cran submission with what spaces stuff works for now?  With functions that don't work yet, we could just not export them, or export and document as not working yet, and add a stop() inside them with message?

seems like at least these don't work for me:

[2018-06-12 00:30] amoeba commented on #140
That sounds good to me. Thanks a million for trying to fix the issue.

Releasing a partial implementation of the Spaces API seems useful in its own right if those are the only two functions that aren't working so let's do that. I'll test to see which functions work to see if my list matches yours.

@sckott wrote:

Do you have a preference here? I'd lean towards not exporting but I'd like to do the

[2018-06-12 00:48] sckott commented on #140
not exporting is probably best, and good to document that they'll come along later

[2018-06-12 04:50] amoeba commented on #140
I get the same list of non-working functions. I'll start with the changes now.

Other notes that just came up:

- When I ran this I got a non-invisible logical as a return

[code]

This function just returns exactly what `aws.s3::put_object` returns. When it fails, I think it always throws an exception so could I just wrap it in an `invisible()`?

- `spaces_object_copy` does a similar thing:

[cod

[2018-06-12 04:57] amoeba commented on #140
I just checked `droplet_create()` and it returns non-invisibly so maybe I should just follow that.

[2018-06-12 05:34] sckott commented on #140
Cool, thanks for the PR. If nothing else on this for now. i'll push to cran in the next few days. i'll see if any problems pop up in checking before then

[2018-06-12 05:36] amoeba commented on #140
Great, I'm satisfied for now if you are. Thanks for all the help.

[2018-06-14 02:55] smach commented on #154
@sckott I can now ssh into a droplet, so that's progress! do_provision() still doesn't work, though. When I did do_provision(region = "nyc1") I still got an error

    Error in ssh::ssh_connect(user_ip, keyfile) :
    Authentication failed, permission denied

If I create a droplet with droplet_create(region = "nyc1") that works. And this worked:

    session <- "root@the.ip.address"
    conn <- ss

[2018-07-05 16:15] sckott opened #162 "create domains without providing an ip address"
https://developers.digitalocean.com/documentation/changelog/api-v2/create-domains-without-providing-an-ip-address/

[2018-07-09 13:01] varungautam13 commented on #154
Is there a resolution to this error. I am getting the same errors, with this being the latest:

Error: ssh failed
swapon | grep "/swapfile" | wc -l > /tmp/eamCxYHhGk

[2018-07-09 16:43] sckott commented on #154
@varungautam13 did you try with the dev version installed from github? `remotes::install_github("sckott/analogsea")`

[2018-07-09 16:44] sckott commented on #154
@smach sorry to hear it's still not working. can you share your `sessionInfo()` so I can see what versions you have?

[2018-07-10 06:12] varungautam13 commented on #154
I have done it again with dev versions, but getting the same error
Error: ssh failed
swapon | grep "/swapfile" | wc -l > /tmp/EWGEeYMeJx

Session Info:
R version 3.5.0 (2018-04-23)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY

[2018-07-10 19:11] sckott commented on #140
still not pushed yet, sorry, getting there soon hopefully

[2018-07-10 19:18] amoeba commented on #140
NP!

[2018-07-23 21:32] LogIN- opened #163 "Cannot change "spaces_base" variable, spaces different region support"
Since spaces can be located in many regions and not only in `nyc3`
as defined here: https://github.com/sckott/analogsea/blob/8f1f5698df5a58f42d3e22d6a03fc52082de595e/R/spaces.R#L1
we need option to change this spaces_base variable / URL.

As I can currently see that is not possible, please tell me if I am wrong.
Maybe we can also use some env variable like `DO_SPACES_BASE` to specify endpoint?

[2018-07-23 22:33] amoeba commented on #163
Hey @LogIN-, thanks for the report.

Your assessment that the Spaces region cannot be changed looks correct to me. There used to be only one region available but Digital Ocean has since expanded Spaces across more of their service regions so it totally makes sense to make this configurable.

An env var to configure this, such as `DO_SPACES_BASE`, makes sense and would work. Looking at the API docs

[2018-07-23 22:51] LogIN- commented on #163
Hi @amoeba,
I think that currently according to DO API only specifying region would be enough.

But since this would basically behave as a wrapper variable to `base_url`  parameter of `aws.s3` package, maybe it would be the best to follow their input structure and that full Spaces URL needs to be defined in such ENV parameter.

They define this `base_url` parm as:

I think that this is called `AWS

[2018-07-23 23:07] amoeba commented on #163
Ah, yeah! So the full URL for an aws.s3 request would be `AWS_S3_REGION` + `AWS_S3_ENDPOINT` (e.g., `us-east-1` + `s3.amazonaws.com`) so the Digital Ocean Spaces equivalent would be `DO_SPACES_REGION` + `DO_SPACES_ENDPOINT` (e.g., `nyc3` + `digitaloceanspaces.com`). So to resolve this issue, we'd create support for two new env vars, each with sensible defaults. Does that sound like what you were t

[2018-07-28 00:45] LogIN- commented on #163
Hi @amoeba ,
That sounds great, than each case is covered regarding endpoints.
I think that would solve most if not all of use cases regarding that.

[2018-07-28 17:36] andrewheiss opened #164 "Support Projects"
[On July 25, 2018](https://blog.digitalocean.com/organizing-your-infrastructure-with-projects/), DigitalOcean added support for [Projects](https://www.digitalocean.com/docs/projects/overview/). Currently, the API doesn't support anything with projects, but [they say it will eventually in 2018](https://www.digitalocean.com/docs/projects/overview/#limits).

When the API eventually supports them, it'

[2018-07-29 03:41] amoeba commented on #163
👍 I'm still working on some fixes for some other Spaces issues but I think I'll PR this along with those fixes so when Spaces are all working nicely, setting a non-default Spaces region will work too. Thanks for the idea!

[2018-07-31 01:28] sckott commented on #164
thanks @andrewheiss - good idea. & thx @amoeba - i hadn't seen them yet, looks neat. I guess we'll wait to see it come out in the API

[2018-07-31 15:00] andrewheiss commented on #164
@amoeba I think that all sounds great, as long as the API supports them.

[2018-08-04 06:48] amoeba commented on #140
Okay, so @thosjleeper worked some magic on aws.s3 and everything _works_ now. PR incoming. The checklist at the top of this Issue is accurate AFAIK.

[2018-08-05 06:11] amoeba commented on #163
Hey @LogIN- this is working in #165 as far as I can tell. Once #165 is merged, you'll be able to set `DO_SPACES_REGION` (along with your access token and secret) and use any Spaces region DO provides.

Would you be willing to kick the tires to let me know if you have any issues by either building #165 or waiting until it's merged?

[2018-08-12 11:19] CerebralMastication opened #166 "Docklet starts, but seems to return control to R before IP info is complete"
Session Info:
[code]

Hey Scott (and others!) great project in Analogsea! I'm running into a couple of little snags, however. When I fire up a DO droplet it seems that the API passes control back to R before an IP is ready or somehow the IP doesn't get passed. So I get the following:

[code]
So analogsea did not receive an IP back... but if I go to my DO dashboard I can see that SweatingOasis is u

[2018-08-14 18:29] sckott commented on #166
thx for your question! and for using `analogsea` 🌊

This is a known issue (E.g., https://github.com/sckott/analogsea/issues/113) - not sure why it happens exactly, but could be due to the last ping to the DO API saying that the droplet is up but somehow it's not true. OR because port 22 is not open yet (we have a check for this now).

The fix I do is just to run the output of `docklet_create` thro

[2018-08-16 01:16] sckott commented on #166
@CerebralMastication let me know if that works or does not work

[2018-08-16 01:31] CerebralMastication opened #167 "Sanity Check: Simplest way to spin up a `future` cluster"
This is less an 'issue' and more a 'code review' sort of discussion. I'm working with O'Reilly & Paul Teeter to update the R Cookbook for a 2nd edition. One recipe I'd really like to have is "execute code in parallel in the cloud".  It seems to me that `future` with `furrr` is a really good fit as it makes the `purrr` approach parallel.

Towards that end I'm trying to figure out the most drop dead

[2018-09-05 13:48] RenanOm92 commented on #154
Any updates on the error that @raminsu reported?

I'm also getting this `Error in file(con, "wb") : cannot open the connection` on my Temp folder when executing `do_provision`

SSH connection is working fine and I'm using the latest dev version available on GitHub. I also executed RStudio as admin and still getting the same error. I'm using windows.

Full error: `2 C:\Users\rmoreira\AppData\Local\

[2018-09-06 21:43] sckott commented on #154
thanks for the ping @RenanOm92  - on vacation now, will respond mid next week

[2018-09-06 21:52] aminadibi commented on #154
[code]
Same problem here. `do_provision` doesn't work, even though I have Ubuntu bash installed on Windows 10 and `ssh` and `scp` both seem to be available through `terminal` in `RStudio`:

[code]

Using anologsea v‘0.6.5.9110’ on R 3.5.1 on Windows 10 with Ubuntu bash.

[2018-09-12 19:13] sckott opened #168 "API changes"
Deprecating tag.resources.droplets.last_tagged, adding a last_tagged_uri and a count for all resources https://developers.digitalocean.com/documentation/changelog/api-v2/adding-tagged-uri/

[2018-09-21 03:38] ozjimbob opened #169 "droplet_delete fails with curl_fetch_memory error"
I'm running a Ubuntu 18.04 server on Digital Ocean, and attempting to spin up another DO server using analogsea.  droplet_create, droplet_ssh, droplet_upload, droplet_download all work fine - but droplet_delete gives the following error:

Error in curl::curl_fetch_memory(url, handle = handle) :   Error in the HTTP2 framing layer

I've been having no problems running the same script from a local no

[2018-09-21 17:14] sckott commented on #169
@ozjimbob thanks for this. So no worries then? It's all working?

[2018-09-21 20:56] ozjimbob commented on #169
Yes all working find after making sure httpuv is insttalled.

[2018-09-21 21:04] sckott commented on #169
great, thx

[2018-09-21 21:04] #169 closed

[2018-09-25 16:58] sckott commented on #168
Support for Custom Images and Image Tagging https://developers.digitalocean.com/documentation/changelog/api-v2/support-for-custom-images-and-image-tagging/

[2018-09-27 15:45] sckott commented on #168
Support for Spaces CDN Endpoints https://developers.digitalocean.com/documentation/changelog/api-v2/support-for-spaces-cdn-endpoints/

[2018-10-16 22:08] sckott commented on #168
Introducing the Projects API Beta https://developers.digitalocean.com/documentation/changelog/api-v2/introducing-the-projects-api-beta/

probably hold off on implementing this since it's marked as beta

[2018-10-27 13:46] pmirla commented on #154
Same ssh here. Any advice to fix this? Thanks

mydrop <- plumber::do_provision(region = 'nyc1')
THIS ACTION COSTS YOU MONEY!
Provisioning a new server for which you will get a bill from DigitalOcean.
Using default ssh keys: plumber
NB: This costs $0.00744 / hour until you droplet_delete() it
Waiting for create ..........
Warning: Permanently added '68.183.100.42' (ECDSA) to the list of known hosts

[2018-11-10 21:53] nielsaka opened #170 "default password broken in docklet_rstudio"
Running the default example from the repository's README.md
[code]
did not work out of the box. The browser opened but no connection was made. Apparently the containerized RStudio server rejects any passwords that are set to *rstudio*.

I found this out by loging into the droplet manually and starting the docker container, which gave
[code]
Indeed, with a different password
[code]
it all works. I

[2018-11-12 18:55] sckott commented on #170
thanks @nielsaka for raising this issue. having a look at the PR

[2018-11-20 23:57] dncnbrn opened #172 "docker: Error parsing reference: ":8787" is not a valid repository"
Using the default example:

[code]

I get this every time:

[code]

Not ideal, but if I try to refresh:

[code]

It then runs through the docker process, but ends here:

[code]

Re the `ssh failed`, I can ssh into the droplet from terminal. Also worth noting that the plumber `do_provision()` function seems to run without any problems.

<details> <summary><strong>Session Info</strong></summary>

[c

[2018-11-22 10:55] CerebralMastication commented on #166
@sckott  sorry for the slow response. The `droplet(d$id)` approach seems to work for me. Thanks.

[2018-11-26 18:55] sckott commented on #168
Projects API now general avail. https://developers.digitalocean.com/documentation/changelog/api-v2/projects-api-now-in-general-availability/

[2018-11-26 19:03] sckott commented on #166
@CerebralMastication glad that works.

I'll see if we need to add this tidbit to the docs ...

[2018-11-26 19:09] sckott commented on #172
sorry about the problems there @dncnbrn

can you install the dev version and try again?

`remotes::install_github("sckott/analogsea")`

[2018-11-27 10:53] dncnbrn commented on #172
Thanks @sckott - this has solved the problem; it no longer gives the error message, although when it then proceeds to open the droplet on port 8787 I just get 'The site can't be reached' and 'ERR_CONNECTION_REFUSED' on Chrome? (Apologies if this a settings issue I need to fix.)

[2018-11-29 20:11] sckott commented on #172
sounds like there was a problem there. can you give more details of the code used and any error messages

[2018-11-29 22:08] dncnbrn commented on #172
Pretty much as before, but no error messages given:

[code]
On the last step, I get `New server fingerprint: ...`, then `Using default tag: latest`, then `latest: Pulling from rocker/rstudio`, then it runs through the Docker instructions, ending with `Digest: sha256...` and finally `Status: Downloaded newer image for rocker/rstudio:latest...`, before opening up a tab on Chrome with the IP address

[2018-12-04 22:21] sckott commented on #172
thanks @dncnbrn for the details. I'll see if I can replicate this problem somehow and get back to you

[2018-12-17 15:45] williamjwest commented on #154
Hello!  I'm having the same issue.

+                             example = FALSE,
+                             region="nyc3",verbose=TRUE)
THIS ACTION COSTS YOU MONEY!
Provisioning a new server for which you will get a bill from DigitalOcean.
NB: This costs $0.00744 / hour until you droplet_delete() it
Waiting for create .............
New server fingerprint: a8:55:ea:0e:e4:df:5e:3e:28:6c:fe:0d:6

[2018-12-18 01:59] sergey-shchemenok commented on #154
Hello, I tried to deploy my API and get Error in file(con, "wb") : cannot open the connection

do_provision(unstable = TRUE, region = 'sgp1')
THIS ACTION COSTS YOU MONEY!
Provisioning a new server for which you will get a bill from DigitalOcean.
Adding .httr-oauth to .gitignore
Waiting for authentication in browser...
Press Esc/Ctrl + C to abort
Authentication complete.
Using default ssh keys: Cae

[2018-12-18 22:35] sckott commented on #154
crap, apologies for the long delay on this, having a look now

[2018-12-18 22:41] sckott commented on #154
@varungautam13 @sergey-shchemenok @williamjwest @pmirla @aminadibi @RenanOm92

Please try again after installing the development version of this package `remotes::install_github("sckott/analogsea"`)` (remember to restart the R instance) - the dev version relies on the `ssh` R package that wraps libssh2 to do ssh work instead of shelling out to ssh/scp

[2018-12-19 00:36] sckott commented on #154
there's a few different errors happening above:

1. `Permission denied (publickey)` - an authentication error as you know - try installing   the version here and see if that fixes it. Note that if you have a passphrase on your key you need probably want to make it so you don't have to enter your password each time, e.g., https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-th

[2018-12-19 17:01] #170 closed

[2018-12-19 17:06] sckott commented on #172
related #170

[2018-12-19 17:11] dncnbrn commented on #172
That works for me - changing from the default password has solved the problem.

[2018-12-19 17:11] #172 closed

[2018-12-19 17:15] sckott commented on #172
@dncnbrn install `remotes::install_github("sckott/analogsea")` and try again, should work now.

`user` and `password` are now required parameters, and rstudio can't be 'rstudio'

[2019-02-14 17:21] sckott commented on #168
API Support for DigitalOcean Managed Databases https://developers.digitalocean.com/documentation/changelog/api-v2/api-support-for-digitalocean-managed-databases/

[2019-02-15 22:22] sckott commented on #168
Deprecation Reminder: tag.resources.droplets.last_tagged https://developers.digitalocean.com/documentation/changelog/api-v2/deprecation-reminder-last_tagged/

[2019-03-12 09:05] mathesong opened #173 "docklet_rstudio() on Windows 10 crashing R 3.5.2"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I'm having an issue with starting up an Rstudio docklet, where my R session crashes out every time.  I run the code below:

[code]
Everything is fine until the last step. I have tried both with the ssh branch, as well as with the latest development branch (and I can't figure out the ssh details with the CRAN release). T

[2019-03-12 17:21] sckott commented on #173
thanks very much for the report @mathesong

the ssh branch is behind master now, it's stuff has been merged into master. so master is the current thing to use.

my first gut reaction is that you created a regular droplet (`droplet_create`) then tried to use it to do docker stuff. you should try `docklet_create()`, then use that to pass to `docklet_rstudio`. try `docklet_create`  and the rest of th

[2019-03-12 21:17] mathesong commented on #173
Thanks so much for the quick response!

Re ssh branch: I encountered the same issue with both the ssh branch and the most recent master branch. But I'll stick to the latest branch for now then.

Thanks for putting me right on my using `droplet_create()` instead of `docklet_create()`. That was silly of me. I hoped that might fix it, but unfortunately the problem persists. I'm now running the follow

[2019-03-13 06:50] sckott commented on #173
thanks for the details @mathesong

@jeroen seems maybe askpass is involved here? anything we can do to try to debug?

[2019-03-13 09:29] mathesong commented on #173
I realised I was being a bit daft and should really have been stepping through everything a bit more carefully using debug.  I've managed to follow the trail of the error a bit further, and isolated it to an issue within ssh::ssh_connect at the following line

[code]

This is the point at which the crash happens.

I see that this actually falls outside of analogsea. If you want I can close the iss

[2019-03-13 13:00] jeroen commented on #173
Yes please open an issue in the ssh repo. Is there a way I can reproduce this? Maybe you can try `debug(ssh::ssh_connect)` to see for which values it crashes? Also try setting `verbose=5` in `ssh::ssh_connect` so that we get some more info about which point it crashes at.

[2019-03-13 14:01] mathesong commented on #173
Thank you both for your time and the help. I've started a new issue in the ssh package repo.

[2019-03-13 14:01] #173 closed

[2019-03-19 05:21] znmeb opened #174 "docklet_create() returns "Error: You specified an invalid image for Droplet creation.""
I'm trying to create a docklet to run RStudio Server. It looks like the default image name for that is "docker" from the documentation of `docklet_create`. But `d <- docklet_create()` returns an error:

[code]
Indeed, `images()` returns 25 image names, none of which is "docker":

[code]

What image name should I use?

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-03-20 23:23] sckott commented on #174
thanks for the report, i just noticed this myself the other day. fix coming

docker is an application, so try `images(type = "application")` to see the application names.

[2019-03-20 23:33] #174 closed

[2019-03-20 23:40] #166 closed

[2019-03-20 23:41] sckott commented on #163
@amoeba can we close this? given no response from issue opener

[2019-03-20 23:45] sckott commented on #167
@CerebralMastication  crap, so this must be the longest i've gone w/o replying to an issue. many apologies.

I can't think of anything to make simpler.

Is this still the up to date version of your thinking on this?

[2019-03-21 00:37] #163 closed

[2019-03-21 09:51] CerebralMastication commented on #167
I think so...

[2019-03-21 17:07] #158 closed

[2019-03-21 17:07] sckott commented on #168
block storage (volumes) API changes https://developers.digitalocean.com/documentation/changelog/api-v2/auto-formatting-support-for-volumes/

[2019-03-21 17:56] #150 closed

[2019-03-21 17:57] sckott commented on #167
cool, anything else to discuss on this ?

[2019-03-21 18:36] sckott opened #175 "Add links to spaces API docs where appropriate"

[2019-03-21 18:36] sckott commented on #175
cc @amoeba

[2019-03-24 17:28] coryhogan opened #177 "GetConsoleMode on STD_INPUT_HANDLE failed with 6"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I get this error when I try to run plumbers "do_provision()" function.
![image](https://user-images.githubusercontent.com/29295017/54883122-150bc380-4e30-11e9-99f1-d97d5307de70.png)

It just hangs immediately and does nothing.

[2019-03-25 17:40] sckott commented on #177
@coryhogan sorry about the error. we're close to submitting a new version to CRAN, see milestone https://github.com/sckott/analogsea/milestone/6 .

Install the development version `remotes::install_github("sckott/analogsea")` and try it again.

It may still not work as theres some issues to be resolved with the `ssh` pkg that does the ssh connection - see https://github.com/sckott/analogsea/issues

[2019-03-25 17:51] #175 closed

[2019-03-26 01:21] coryhogan commented on #177
Appreciate the quick response! I'll look forward to an update. Just to let you know for your own debugging use this is the error I get when I use the current master branch analogsea.

![image](https://user-images.githubusercontent.com/29295017/54964691-6b195d80-4f3b-11e9-8534-f1c5772c0ce8.png)

[2019-03-26 16:25] sckott commented on #177
thanks, i'll have a look soon.

[2019-03-26 19:49] sckott commented on #177
@coryhogan Jeroen has been making some changes to the `ssh` package that may help here, see https://github.com/ropensci/ssh/blob/master/NEWS#L1-L5 -- Can you reinstall `remotes::install_github("ropensci/analogsea")` (which will install the dev version of `ssh`) and try again? Making sure to reaload R session.

[2019-03-26 19:49] sckott commented on #154
@varungautam13 @sergey-shchemenok @williamjwest @pmirla @aminadibi @RenanOm92

Jeroen has been making some changes to the `ssh` package that may help here, see https://github.com/ropensci/ssh/blob/master/NEWS#L1-L5 -- Can you reinstall `remotes::install_github("ropensci/analogsea")` (which will install the dev version of `ssh`) and try again? Making sure to reaload R session.

[2019-03-27 02:47] coryhogan commented on #177
Still getting the same exact error even with the development version of ssh.

[2019-03-28 04:18] varungautam13 commented on #154
No, I have not tried that in some time, will try now.

On Mon, 9 Jul, 2018, 10:13 PM Scott Chamberlain, <notifications@github.com>
wrote:

[2019-03-28 16:26] sckott commented on #177
okay, thanks for trying. I'll have a look soon

[2019-03-29 23:35] troydo42 commented on #154
This works for me.

[2019-03-30 03:13] sckott commented on #154
@troydo42 great, thx for trying and glad it works, what OS are you on? and did you try that with the CRAN ver of analogsea or the dev version?

[2019-03-30 08:36] jeroen commented on #154
The new version is on cran so you can just do: `update.packages(ask=FALSE)`

[2019-04-04 16:22] tomand-uio commented on #177
I'm very much a novice on digital ocean and analogsea but I get stranded with the same error message as coryhogan after the last of the following analogsea commands:

(drops <- droplets())
d <- droplet(drops[[1]]$id)
d %>% docklet_rstudio()

I'm running Windows 10 with Rstudio 1.1.463 and R 3.5.3 with analogsea 0.6.0.

[2019-05-14 23:05] sckott commented on #154
closing now, submitting new version to cran very soon

[2019-05-14 23:05] #154 closed

[2019-05-21 16:39] sckott commented on #177
@tomand-uio can you try the development version of analogsea please, `remotes::install_github("sckott/analogsea")`, then try that example again

[2019-05-30 23:33] sckott opened #178 "remove spaces stuff for this cran submission"
on branch https://github.com/sckott/analogsea/tree/with-spaces

[2019-05-30 23:34] #178 closed

[2019-06-03 22:12] sckott commented on #178
just for tracking what's been done: spaces fxns that were in last cran version are still in this cran version, but no additional spaces fxns

[2019-06-11 13:26] studerus opened #179 "Problems spinning up a shiny app with docklet_shinyapp"
I tried to spin up a shiny app with docklet_shinyapp. It works fine using the example in the help file, but not with my own shiny app. It says "The application exited during initialization. "
I think the problem is that my shiny app uses R packages that are not installed on the shinyapp docklet. How can install additional packages? I tried the following, which did not work:
[code]

Also, how can I

[2019-06-11 20:07] sckott commented on #179
session info please, as requested

[2019-06-12 06:53] studerus commented on #179
I didn't provide the session info because the problem is not on the local machine, but here it is anyway:

[code]

[2019-06-12 20:47] sckott commented on #179
for seeing logs:

[code]

[2019-06-12 21:18] sckott commented on #179
for the dependencies:

[code]

make sure not to use `docker exec -ti` since it's not interactive

[2019-06-14 09:46] studerus commented on #179
Thank you very much. It works. It would be great if you could add this to the documentation.

[2019-06-17 13:14] mathesong commented on #177
Hiya,

I came across this issue while searching.  I installed the latest dev version (0.7.0.9100) of analogsea today, and I'm getting exactly this error.  The error message is below:

[code]

with the following traceback
[code]

Happy to try anything else out that you might need to solve this.

[2019-06-20 07:43] mathesong commented on #177
I took a closer look at this this morning.  The issue arose in plumber's droplet_capture() command, and the latest development version of plumber fixes this problem, so it works a charm now!

[2019-06-25 16:37] sckott commented on #177
thanks @mathesong sorry about delay was on vacation. Glad it works now!

[2019-06-25 16:38] #177 closed

[2019-06-25 17:03] sckott opened #181 "droplets_create(): warning about NULL passed to structure"

[2019-06-25 17:07] #181 closed

[2019-06-25 17:12] sckott opened #182 "tags fixes"
via #168

https://developers.digitalocean.com/documentation/changelog/api-v2/adding-tagged-uri/

[2019-06-25 17:20] #182 closed

[2019-06-25 17:46] sckott opened #183 "add methods for projects"
https://developers.digitalocean.com/documentation/changelog/api-v2/introducing-the-projects-api-beta/

[2019-06-25 18:05] #183 closed

[2019-06-25 18:11] sckott opened #184 "new params in volume create"
https://developers.digitalocean.com/documentation/changelog/api-v2/add-volume-tagging/

[2019-06-25 18:13] #184 closed

[2019-06-25 18:14] sckott opened #185 "Add methods for databases"
https://developers.digitalocean.com/documentation/changelog/api-v2/api-support-for-digitalocean-managed-databases/

[2019-06-25 18:15] sckott commented on #168
most of these handled in various issues opened today, closing

[2019-06-25 18:15] #168 closed

[2019-12-02 22:09] sckott opened #186 "droplet neighbors route change"
https://developers.digitalocean.com/documentation/changelog/api-v2/changes-to-the-droplet-neighbors-report/

[2019-12-20 22:15] cbrumovv opened #187 "Unable to complete R install after creating DO droplet"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Error in normalizePath(to, mustWork = TRUE) :
  path[1]="/var/folders/01/tylkqmg534nbtn3wmv1hmkz00000gp/T//RtmpC5wU9j/file37957c3de83f": No such file or directory

7: normalizePath(to, mustWork = TRUE)
6: ssh::scp_download(session = session, files = remote, to = local,
       verbose = TRUE)
5: cat(ssh::scp_download(ses

[2019-12-21 01:14] sckott commented on #187
thanks for the report. will have a look

[2019-12-21 01:42] sckott commented on #187
we've seen this issue before https://github.com/rstudio/plumber/issues/361#issuecomment-492746848 we thought it was sorted out, but perhaps not

cc @schloerke

[2019-12-21 20:22] #187 closed

[2020-01-13 16:27] sckott opened #188 "aws.s3 orphaned"
since its been orphaned we have to put it in suggests (and only use conditionally) or not use it. thoughts @amoeba ?

[2020-01-13 23:40] amoeba commented on #188
Heya @sckott. I shoulda guessed this was going to happen.

I think it's totally reasonable to put it in Suggests since I don't think it's core functionality of this package. If memory serves, I was also thinking we might be able to remove the dependency altogether with a rewrite of the Spaces implementation but `Suggests` is sounds good for now.

I'd be happy to PR this. Do we want to add `warning

[2020-01-14 02:24] sckott commented on #188
Yeah, lets submit a new version soon with move to suggests. PR sounds great. What do you mean by add a warning? we already have this fxn https://github.com/sckott/analogsea/blob/c517c4d4d960f78e43211c66bc17d7e15b41a2ce/R/zzz.R#L65-L71 if its appropriate

[2020-01-14 04:43] amoeba commented on #188
Sorry, could've explained more. Something such that, if the user **doesn't** have `aws.s3` installed, running code like...

[code]

...emits a warning using `check_for_a_pkg()`. I'm not sure I'd wanna plaster it across all exported Spaces functions. Maybe that's overkill?

[2020-01-14 16:37] sckott commented on #188
I think it'd be better to stop with message rather than warn if the user doesn't have aws.s3 installed, yes?

[2020-01-14 23:17] amoeba commented on #188
Ah, yep. That makes a lot more sense!

[2020-01-15 00:34] amoeba commented on #188
^ PR'd.

[2020-01-15 19:26] #188 closed

[2020-01-15 19:31] sckott commented on #147
@amoeba should we bump this to the next milestone?

[2020-01-15 19:33] sckott commented on #140
@amoeba we need to push a new version soon ([this milestone](https://github.com/sckott/analogsea/milestone/7)) - should we close this issue or keep it open and move to next milestone?

[2020-01-15 19:50] #179 closed

[2020-01-15 23:13] amoeba commented on #140
Hey @sckott, I'm cool keeping this open and finishing it up. I can make time for it before the month is over. Is that soon enough? I can also do #147 in the time frame.

[2020-01-15 23:14] amoeba commented on #147
Also commented over on #140: I can do this this month. Is that fast enough?

[2020-01-15 23:22] sckott commented on #140
Sounds good, I think we should submit by 28 Jan - just in case need to resubmit a few times - don't want to risk missing 31 Jan deadline

[2020-01-15 23:27] amoeba commented on #140
Okay, I can do that.

[2020-01-17 14:51] mscbuck opened #190 "Inconsistent Behavior Creating + Destroying Droplets"
I've been having some inconsistent behavior when creating / destroying a droplet. I have a nightly script that simply spins up a machine from a previously saved snapshot, runs a script on that machine, and then destroys the machine. Essentially the simplest possible script I can have. I'd say that 80% of the time, this runs just fine. However, 20% of the time, I get some odd behavior. Below is my

[2020-01-17 22:03] sckott commented on #190
thanks for opening an issue @mscbuck

At first glance at those errors, I'd be surprised if they were analogsea related issues. Can you provide context around those errors? During what step do they happen?

right, you shouldn't need sys.sleep if you use `droplet_wait`

The problem with a droplet not being deleted probably is an analogsea problem. Can you replicate the problem of a droplet not being

[2020-01-17 22:17] mscbuck commented on #190
Thanks for responding! I would wager that you are correct in that it's not quite an analogsea issue, but just the way the DigitalOcean API is operating.

I put in some print statements to log the exact steps it's happening at, but the only thing I can really point to is that the machine is _always_ created, so it's either something at the ```droplet_wait()``` step or in between that and the ```dro

[2020-01-17 23:55] sckott commented on #190
The one possibility that comes to mind is that `droplet_wait` uses an R option `do.wait_time` (seconds to wait between pings to DO API). Its default value is 1 (1 second). So a request every second. It's possible you're reaching a rate limit. You could try setting that option to some larger integer.

Let me know if you try this

[2020-01-20 15:08] mscbuck commented on #190
At least when it comes to ```Error: The resource you were accessing could not be found.```, I think you may be on to something. Looking at my logs, I never got to my print statement, but yet the droplet was created successfully.

[code]

[2020-01-22 04:31] sckott commented on #190
Hmm. Not sure. Have you tried re-creating what you are doing with analogsea fxns in the Digital Ocean web interface / ssh'ing in to the instance. Curious if that fails too

[2020-01-24 14:21] mscbuck commented on #190
I am always able to successfully do everything using the web interface. Even after upping the do.wait_time option to 60 seconds, I still am getting the ```Error: The resource you were accessing could not be found.``` error. However, I run the script manually and it runs fine literally every time.

I am wondering if there is some very weird interaction between a scheduled cron job / Rscript and thi

[2020-01-24 14:22] mscbuck commented on #190
Did not mean to close this!

[2020-01-24 15:47] sckott commented on #190
the first thing that comes to mind with cron is that it doesn't know about env vars if you have any that the script depends on. Does the cron job work fine if not being run from analogsea?

[2020-01-26 16:13] mscbuck commented on #190
No environment variables in this case, however, I may have stumbled upon a potential answer. It actually was something I needed to do in another script that used the ```mailR``` (I think) package to send out e-mails. Apparently, Rscript does not load up the ```methods``` package by default. This leads to a lot of unpredictability in certain scripts. I actually added ```library(methods)``` specific

[2020-01-27 10:00] amoeba commented on #140
I sat down for a few hours tonight to finish up the remaining Spaces functions and ended up getting stumped with what looks like more `aws.s3` bugs. Note there are a few more Spaces methods added since the initial go around. I unfortunately don't have any more time before the end of the month to try wrapping things up (so that all Spaces functionality works).

After getting stumped, I spent a bit

[2020-01-27 16:40] sckott commented on #140
Thanks for the update. I think the additional Spaces work can wait until next version.  I'd like to submit by Wed. Do you think the work of replacing `aws.s3` can be done by then?  If not, I can move the pkg to Suggests and rework so that it's used conditionally.

[2020-01-27 16:42] sckott commented on #140
oh right, you already did that work -> https://github.com/sckott/analogsea/pull/189/

[2020-01-28 02:30] sckott commented on #190
that's good news. hopefully it keeps working. let me know if you think you're all sorted out

[2020-01-29 17:30] sckott commented on #140
@amoeba do you think you can finish this today? or should I go ahead and submit?

[2020-01-29 19:05] amoeba commented on #140
No, sorry. Please go ahead and submit. I'll have to carve out some time this quarter.

[2020-01-29 19:28] sckott commented on #140
okay, will do

[2020-02-18 13:38] mscbuck commented on #190
Just wanted to chime in that even after that I started to get some random errors. But ever since DigitalOcean put out a notice that they were having some issues with droplet creation and the API, and since fixing those, I have yet to have any issues. So the issue did seem to be on DO's end, though probably something really specific to API creation of droplets.

[2020-02-18 13:39] #190 closed

[2020-02-18 22:14] sckott commented on #190
Okay, thanks for the update @mscbuck

[2020-04-14 02:43] Kvit opened #192 "droplet_action error"
any droplet_action function returns
[code]

Code to replicate the problem:
[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2020-04-14 23:36] sckott commented on #192
@Kvit thanks for the report! having a look now

[2020-04-15 00:03] #192 closed

[2020-04-15 00:04] sckott commented on #192
@Kvit try again after reinstalling, sometime DO changed the API - I don't remember seeing the change in their Changelog

[2020-04-15 00:44] #186 closed

[2020-04-15 00:52] Kvit commented on #192
it works now, thanks!

[2020-04-15 01:12] sckott commented on #192
great

[2020-08-04 20:00] p-schaefer commented on #167
I am trying to follow this example, but am running into an error. I feel like its something very simple that I am missing. I'm trying to create a new droplet from within an existing droplet to perform remote calculations on. When I run the
`makeClusterPSOCK()` part, I get the folloring:

`[local output] Workers: [n = 1] ‘167.99.176.218’
[local output] Base port: 11963
[local output] Creating node

[2020-08-26 23:48] pieterprovoost opened #193 "Error in normalizePath on droplet_execute()"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Following [the docs](https://analogsea.icu/reference/droplet_execute.html) I tried this:

[code]

Which results in:

[code]

Thanks!

[2020-08-27 08:56] athammad opened #194 "Droplet from local Dockerfile"
Hi,

first of all, thank you for this amazing package.

I was wandering if it would be possible to create a droplet based on a local `Dockerfile` (and all the folders and scripts in the local `Dockerfile` folder) rather than with an online image.

Best wishes

[2020-08-30 11:26] pjastam opened #196 "How to get ps info as a data.frame?"
If I want to stop a running container, then I need the **container ID** as an argument in the docklet_stop() function. This **container ID** can be found in the screen output produced by this command:

droplet_id %>% docklet_ps(all = TRUE)

Subsequently, we can fill out the **container ID** and stop the container as follows:

droplet_id %>% docklet_stop(container = c("**container ID**"))

However,

[2020-09-01 20:42] sckott commented on #193
thanks @pieterprovoost having a look at the PR

[2020-09-01 20:56] #193 closed

[2020-09-01 21:00] sckott commented on #194
thanks for using the pkg and for opening the issue @athammad

there's nothing built in for that use case here, but you should be able to create a "docklet" (a droplet with docker installed) `docklet_create()`, then transfer your Dockerfile to the droplet, then do whatever docker commands.

[2020-09-01 21:51] sckott commented on #196
Thanks for the issue @pjastam

All `docklet_`/`droplet_` fxns are built to be pipeable to make that workflow  easier. A downside of that is they always return the droplet object. So it would take a new function to return the actual output of the docker command.

On a branch I have a thing you can try, `remotes::install_github("sckott/analogsea@return-data")`, restart R, then see `droplet_ssh_data`

[2020-09-04 11:37] pjastam commented on #196
Thanks @sckott for your very clear explanation of the cause of the problem and also for your effort to find a solution anyhow.

When I follow your suggestions, I encounter an error when calling the new function droplet_ssh_data. Here is my workflow:

1. I removed the analogsea package from my RStudio install, and restarted RStudio
2. `remotes::install_github("sckott/analogsea@return-data")`
3. `li

[2020-09-04 16:37] sckott commented on #196
sorry about that, forgot to update namespace, reinstall and try again

[2020-09-05 07:52] pjastam commented on #196
It works!

The last piece of the puzzle is to get the raw OUTPUT from `ssh_droplet_data` into a dataframe. As you already noted in [a previous comment](https://github.com/sckott/analogsea/issues/196#issuecomment-685153043), it's not easy to parse the output of docker commands however.

My thoughts were to add a comma separator to the raw OUTPUT and then use some command `read.table(text = OUTPUT,h

[2020-09-08 17:16] sckott commented on #196
There is the `--format` flag for `docker ps` https://docs.docker.com/engine/reference/commandline/ps/#formatting - havne't played with it too much yet.

[2020-09-12 08:30] pjastam commented on #196
Using the --format flag an easy solution might be

`container_id <- d %>% droplet_ssh_data("docker ps --format 'table {{.ID}}'")`
`container_id <- read.table(text = container_id, header = TRUE)$CONTAINER.ID`

Now this `container_id` can be used in commands like `d %>% docklet_stop(container = container_id)`, for example.

A few notes:
- I added the table option to the `droplet_ssh_data()` argument

[2020-09-12 18:17] pachamaltese opened #197 "Existing RStudio Images from the marketplace"
Hi

Just to let you know that as an alternative to `docklet_create()`, I have this image with already configured full Tidyverse, RStudio Server and Shiny Server https://marketplace.digitalocean.com/apps/rstudio.

It can be created from the API with
[code]

I have more images (https://marketplace.digitalocean.com/apps/rstudio-pkgdev and https://marketplace.digitalocean.com/apps/rstudio-h2o) that I

[2020-09-12 21:22] pjastam commented on #196
Use case: multiple active containers

`container_id <- d %>% droplet_ssh_data("docker ps --format 'table{{.ID}},{{.Image}},{{.Names}}'")`
`container_id <- read.table(text = container_id, header = TRUE, sep = ",") %>%
  dplyr::filter(IMAGE == repo) %>%
  dplyr::select(CONTAINER.ID)`

Note that:
- The comma separator is used instead of \t. This solved the problem caused by the space between `CONTAIN

[2020-09-14 20:47] sckott commented on #196
Do you think `droplet_ssh_data` is enough to do what you want to do?  Or do you want more functionality added into this package for these use cases?

[2020-09-14 20:58] sckott commented on #197
thanks @pachamaltese

looks like it can be used like:

[code]

maybe you meant to say, instead of the function `docklet_rstudio`?

[2020-09-14 21:11] pachamaltese commented on #197
yes, that's an inside-R option
thanks a lot for expressing my idea in shorter terms :)

[2020-10-01 06:45] pjastam commented on #196
`droplet_ssh_data` is enough to do what I want to do, thanks for your effort @sckott

For those interested in my use case, I slightly updated/improved my function call to `droplet_ssh_data` as follows:

[code]
[code]

[2020-10-01 06:45] #196 closed

[2020-10-02 16:41] sckott commented on #196
Thanks @pjastam for raising this issue, glad we sorted out something that works for you

[2020-10-07 22:29] #194 closed

[2020-10-07 22:29] #167 closed

[2020-10-07 22:29] #81 closed

[2020-10-07 22:30] sckott commented on #14
we have debian_install_opencpu

[2020-10-07 22:30] #14 closed

[2020-10-07 22:30] #197 closed

[2020-12-10 21:57] sckott opened #200 "link to blog posts for use cases"
https://www.andrewheiss.com/blog/2018/07/30/disposable-supercomputer-future/

[2021-01-04 00:43] benjaminrobinson commented on #132
Hi, @sckott et. al!  I'm running into a flavor of this error and am wondering if there's something I should be doing differently.  I get an `Error: libssh failure at 'connect': Timeout connecting to` error when I'm trying to use `docklet_pull` after I've successfully created a droplet using `docklet_create`.  If I try to run `docklet_pull` again, I get an `New server key:...Error: Authentication w

[2021-01-08 22:34] sckott commented on #132
Thanks for the issue @benjaminrobinson

First thing I notice is that `benjaminrobinson/gtm-docker` is invalid somehow. I can't pull it to my local machine or on a DO server. Any ideas?

[2021-01-08 22:46] benjaminrobinson commented on #132
Hi, @sckott! Thank you so much for the package and the quick reply.  This is my first time using Docker and I've been trying to make and use my own image.  If I've done so unsuccessfully, please let me know!  Here's the link to the repository I have created and published on the Docker Hub.  I've noticed that there isn't a "Dockerfile" that shows up but I do have some "tags" listed there. Is there

[2021-01-08 22:55] sckott commented on #132
I don't have bandwidth to help with docker images - let's just use a different docker image from dockerhub - one you know that works - so we're not confounding the issue of the docker image and any issues in this package. - can you share another reprex but with an image we know that works

[2021-01-09 04:26] benjaminrobinson commented on #132
Hi, @sckott! I used the "rocker/tidyverse" image from dockerhub and got the same error message.
[code]

<sup>Created on 2021-01-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-01-14 19:57] sckott commented on #132
Thanks. That still works for me.

Can you connect to the server from your command line via ssh successfully?

In R, does a very simple thing work? Try:

[code]

[2021-01-15 06:11] benjaminrobinson commented on #132
Here's what I got when running the code you just shared:
`droplet1<- docklet_create()`
`droplet1 <- droplet(droplet1$id)`
`droplet_ssh(droplet1, "whoami")`

This yielded the following result:
`New server key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX`
`Error: Authentication with ssh server failed`

[2021-01-19 20:00] sckott commented on #132
Thanks for that.

What i meant by "Can you connect to the server from your command line via ssh successfully?" was can you use your command line/terminal/shell outside of R to connect to the server. That will help us see if your ssh key setup is working correctly. e.g., in your shell

[code]

[2021-01-28 03:33] benjaminrobinson commented on #132
Hi, @sckott! Sorry for not replying sooner. I was able to connect to the Droplet in the terminal! It asked me for my password and then I realized that I could apply some of the same logic to the `docklet_pull` I was trying to do before!

`droplet(droplet1$id) %>% docklet_pull("rocker/tidyverse", ssh_passwd = 'PASSWORD', keyfile = 'LOCATION', ssh_user = 'root')`

This worked for me! Now I tried aga

[2021-02-02 20:09] muschellij2 opened #201 "Any thoughts on CRAN update?"
Will close after a week if no response.   Just wondering if there is a timeline for submit to CRAN - didn't see a timeline.  Not trying to pressure, just want to get some timelines down for `plumberDeploy` package: https://github.com/meztez/plumberDeploy, which now relies on some of the new functions of analogsea using the `...` pass throughs from #199.  We still need to coordinate with plumber ma

[2021-02-03 18:09] sckott commented on #201
i'll try for today

[2021-02-03 19:15] sckott commented on #201
submitting now

[2021-02-03 19:15] #201 closed

[2021-02-03 20:05] sckott commented on #201
accepted

[2021-02-05 01:13] sckott opened #203 "change default region away from sfo2"
https://www.digitalocean.com/blog/introducing-a-new-datacenter-in-the-san-francisco-region-sfo3

use sfo3 instead

[2021-02-05 01:55] #203 closed

[2021-02-10 18:10] sckott commented on #132
Great, glad it worked.

I can't help with images, but perhaps these might help:

Rocker questions on stackoverflow https://stackoverflow.com/search?q=%5Br%5D+rocker

Docker community info https://www.docker.com/docker-community

[2021-03-09 02:57] muschellij2 opened #205 "Default region not working"
# Load the packages

[code]

# Get default region and size from function

[code]

# Seems sfo2 doesn’t have sizes?

[code]

# So default droplet\_create fails

[code]

<sup>Created on 2021-03-08 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

<details style="margin-bottom:10px;">

<summary>

Session info

</summary>

[code]

</details>

[2021-06-01 17:25] #205 closed

[2021-06-01 17:28] #200 closed

[2021-08-18 17:58] pachadotdev opened #207 "todo: adding an example to docklet_shinyserver()"
...that highlights the default volume settings that allow multiple Shiny apps to be run on a single droplet.

[2021-08-21 14:06] kdpsingh commented on #207
Thank you for opening this issue based on our Twitter conversation.

I'll first share what the documentation currently says and will give an example for what I think it *should* say.

Currently, the documentation gives this example for the use of `docket_shinyserver().` It shows how to spin up a Shiny server using the following code:

[code]

Then, it suggests using the `docklet_shinyapp()` functi

[2021-09-08 15:02] sjimellor-jr opened #208 "`domain_record_create()` fails with invalid body content"
**Issue:**

`domain_record_create()` appears not to work at all as the body is being interpreted by DigitalOcean as JSON but sent as multipart. I have examples below, but don't know enough about chosing multipart/json to provide a real solution. Issue is present in version 1.0.0 (CRAN) and 1.0.1 (from GitHub).

**Error message:**

[code]

**Example:** (requires DO managed domain)

[code]

**Altern

[2021-11-25 00:59] aetiologicCanada opened #209 ""Error: Please install ssh" from ubuntu_create_user"
This code below works, but ubuntu_create_user() fails with a "please install ssh" error.

Am I missing something?  Should I adding arguments to droplet_create to generate ssh?

Thanks,

R

``

library(tidyverse)
library(analogsea)
#analogsea::account()
do_pat="******************"
Sys.setenv("DO_PAT" = do_pat)
droplets()
# droplet_create(
#   name = "testing",
#   ssh_keys = "/home/rob/.ssh/id_rsa"

[2021-11-25 02:02] #209 closed

[2021-12-05 07:30] pachadotdev commented on #209
sorry for the delay
for future reference: you need install.packages("ssh")

[2022-01-22 16:43] pjastam opened #211 "Keyfile argument for docklet_shinyapp function"
My suggestion is to extend the docklet_shinyapp function with a keyfile argument. My code update is available [via a pull request](https://github.com/pachadotdev/analogsea/pull/210) (or should I have waited with this PR to discuss this issue here first?)

[2022-02-25 04:01] pachadotdev commented on #164
Hi @andrewheiss. While I'm not a manager or similar at DO, I have sent your request to a contact there, because I talked about this to him some time ago.

[2022-04-13 16:02] jmoyden opened #213 "Unable to authenticate"
Trying to run analogsea::account() or analogsea::droplets() attempts to authenticate in browser, but simply returns a "Looks like something went wrong..." message.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2022-04-19 09:05] jmoyden commented on #213
The issue seems to have resolved itself, presumably a problem fixed by DigitalOcean themselves.

[2022-04-19 09:05] #213 closed

[2022-08-09 12:11] krose opened #214 "analogsea::spaces doesn't return a list of spaces"
This seems to be caused by a bug in aws.s3, but there seems to be a discussion going on if to use aws.s3 or not. The repo for aws.s3 doesn't seem to be updated with a lot of hanging pull requests, so I'll post the bug here. I hope this is fine.

There are two issues.

One concerning the `aws.s3:::parse_aws_s3_response` that checks for a content type (ctype) that doesn't match the way the API retur

[2022-08-10 02:44] pachadotdev commented on #214
thanks, @krose
I can move the functions I use from aws.s3 here

[2022-08-10 02:45] #148 closed

[2022-08-10 02:46] pachadotdev commented on #104
this has been added since I was assigned as the new maintainer

the current tests:

1. create droplets
2. install R and R packages in droplets
3. remove droplets
4. all on GH-actions, with proper tokens and oauth

[2022-08-10 02:46] #104 closed

[2022-08-10 02:48] pachadotdev commented on #207
hi @kdpsingh
do you have an example on this?

[2022-08-10 09:22] krose commented on #214
That would be awesome. I'm planning to build some stuff around spaces, so let me know if you need help.

[2022-08-24 20:33] mnr opened #215 "analogsea::key_create results in "Error: Key can't be blank""
### System details

Output of `sessioninfo::session_info()()`:

[code]

### Example application *or* steps to reproduce the problem
*install plumber deploy*
`install.packages("plumberDeploy")`
*I also tried...*
`remotes::install_github("rstudio/plumber")`
*then...*
`library(plumberDeploy)`

`analogsea::account() # validate`

`plumbSSHKey <- analogsea::key_create("plumberSSH", readLines("~/.ssh/id_

[2022-08-24 20:35] mnr commented on #215
Originally posted to @meztez in [plumberDeploy repo](https://github.com/meztez/plumberDeploy/issues/37). @ghstreamline suggests posting here.

[2022-08-26 01:37] pachadotdev commented on #215
Hi!
Thanks for reporting. Are you trying to add a key to a droplet?

[2022-08-26 06:10] mnr commented on #215
I don't believe I've created a droplet just yet. I'm just trying to set up to deploy a plumber instance. I'm following the procedure outlined at https://github.com/meztez/plumberDeploy. Step three is to configure an ssh key for the Digital Ocean account using `analogsea::key_create.`

Step 4 is to use `analogsea::droplets()` - but I haven't gotten there yet.

[2022-08-30 02:17] pachadotdev commented on #214
all contributions are welcome, @krose
at the moment, I need to close #185 first, or move it for later

[2022-08-30 02:18] pachadotdev commented on #215
hi @mnr
just to be triple sure, did you add your public ssh key to the project you are working with on digitalocean?

[2022-08-30 08:32] mnr commented on #215
I have not set up an SSH key with digital ocean. let me try that first, then see if things change.

In the meantime, here is the code I am running. It's in R...

[code]

[2022-08-30 08:42] mnr commented on #215
I've set up an SSH key as detailed at https://cloud.digitalocean.com/ssh_keys. Subsequently running the above code still results in "Error: Key can't be blank"

[2022-08-30 08:52] mnr commented on #215
I'm not sure if this is helpful, but `analogsea::account()` produces the (redacted) result...

[code]

[2022-08-31 14:42] MislavSag opened #216 "Install packages from bitbucket"
I want to install package from bitbucket: https://bitbucket.org/quanttools/quanttools/src/master/

I know how to install packages from CRAN or GitHub, for example
[code]
but can't figure oput how to install QuantTools from birbucket.

[2022-08-31 14:47] MislavSag commented on #216
I have an additional question. Is it possible to restrict dependency installation when installing packages from github?

[2022-09-02 00:10] pachadotdev commented on #216
Hi
I don't have a method for bitbucket at the moment. What you can do is to clone the repository in your server and install with devtools.
Regarding restrictions, that's not possible. analogsea uses remotes (package) to install from GitHub.

[2022-09-02 00:10] #216 closed

[2022-09-02 00:58] pachadotdev commented on #215
sorry the slow reply you can @ me (i.e. @mnr)

after inspecting this, it's something about API changes on DigitalOcean side
I'll write to the people I know there to ask for more details

[2022-09-02 06:31] MislavSag commented on #216
I have solve the problem by adding the package in one of my pachages (Remotes: bitbucket::test/test).
Thanks for help.

[2022-11-19 19:43] rparrish commented on #164
Here's an updated link to the [Projects documentation.](https://docs.digitalocean.com/products/projects/)

[2022-11-28 01:20] pachadotdev commented on #164
thx, there's still no parameter to create droplets outside the default project https://docs.digitalocean.com/reference/api/api-reference/#operation/droplets_create